@font-face {
  font-family: 'Avenir Book';
  src: url('../../fonts/2ED58B_1_0.eot');
  src: url('../../fonts/2ED58B_1_0.eot') format('embedded-opentype'),
  url('../../fonts/2ED58B_1_0.woff') format('woff2'),
  url('../../fonts/2ED58B_1_0.woff') format('woff'),
  url('../../fonts/2ED58B_1_0.ttf') format('truetype'),
  url('../../fonts/2ED58B_1_0.svg#2ED58B_1_0') format('svg');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('../../fonts/2ED58B_0_0.eot');
  src: url('../../fonts/2ED58B_0_0.eot') format('embedded-opentype'),
  url('../../fonts/2ED58B_0_0.woff2') format('woff2'),
  url('../../fonts/2ED58B_0_0.woff') format('woff'),
  url('../../fonts/2ED58B_0_0.ttf') format('truetype'),
  url('../../fonts/2ED58B_0_0.svg#2ED58B_0_0') format('svg');
}

@font-face {
  font-family: 'Satisfy Regular';
  src: url('../../fonts/SatisfyRegular.eot');
  src: url('../../fonts/SatisfyRegular.eot') format('embedded-opentype'),
  url('../../fonts/SatisfyRegular.woff2') format('woff2'),
  url('../../fonts/SatisfyRegular.woff') format('woff'),
  url('../../fonts/SatisfyRegular.ttf') format('truetype'),
  url('../../fonts/SatisfyRegular.svg#SatisfyRegular') format('svg');
}
