/*
* form elements definitions
*/

// ----------------------- BUTTONS START -----------------------


button:hover,
button:focus {
  outline: none;
}
button:disabled {
  background-color: $cta-color-bg-disabled;
}


.button {
  font-family: $cta-font-family;
  font-size: $cta-font-size;
  text-align: $cta-text-align;
  text-transform: $cta-text-transform;
  padding: 0 $cta-padding-right 0 $cta-padding-left;
  border-radius: $cta-border-radius;
  height: $cta-height;
  display: block;
  border: 0;
  color: $cta-color-text-primary;
  background-color: $cta-color-bg-primary;
  position: relative;
  @include transition(all .1s linear);
}
.button:disabled {
  background-color: $cta-color-bg-disabled;
}
.button:hover,
.button:focus {
  outline: none;
  background-color: $cta-color-bg-primary-hover;
  color: $cta-color-text-primary;
  text-decoration: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}
input.button:focus {
  border: none;
}
a.button {
  padding: 0;
}
.button--disabled {
  background-color: $cta-color-bg-disabled;
}
.button--disabled:hover,
.button--disabled:focus {
  background-color: $cta-color-bg-disabled;
  color: $cta-color-text-primary;
  cursor: default;
}
.button--pressed {
  background-color: $cta-pressed-box-shadow;
}
.button--inline {
  display: inline-block;
}
.button--add {
  height: 18px;
  width: 18px;
  padding: 0;
  display: inline-block;
  margin-left: $space-sm;
}
.button--full-width {
  width: 100%;
}
.button--smaller-height {
  height: $cta-smaller-height;
}

.button__text {
  @include vertical-center-absolute();
  left: 0;
  display: block;
  width: 100%;
  padding: 0 $cta-padding-right 0 $cta-padding-left;
}

.button-secondary {
  @extend .button;
  border: $cta-secondary-border;
  color: $cta-color-text-secondary;
  background-color: $cta-color-bg-secondary;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: $cta-color-bg-secondary-hover;
  color: $cta-color-text-primary;
}

.button--fake {
  border: none;
  background: transparent;
}

// ----------------------- BUTTONS END -----------------------



// ----------------------- INPUT FIELDS START ------------------

.form-control {
  font-family: $input-font-family;
  font-size: $font-size-1_4rem;
  text-align: $input-text-align;
  padding-left: $input-padding-left;
  padding-right: $input-padding-right;
  border-radius: $input-border-radius-default;
  height: $input-height;
  line-height: inherit;
  border: $input-border-default;
  color: $input-color-text;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control:focus {
  outline: none;
  border: $input-border-active;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.form-control[type="radio"],
.form-control[type="checkbox"] {
  height: auto;
}


input {
  @extend .form-control;
}
input:focus {
  @extend .form-control:focus;
}
input[type="radio"],
input[type="checkbox"] {
  height: auto;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__select-wrapper {
  height: $input-height;
}

.form-group {
  clear: both;
  position: relative;
}

// BOOTSTRAP SELECT START
// Please do not refactor this styles to full BEM syntax
// to keep them consistent with Bootstrap Select plugin SASS style
.bootstrap-select {
  width: 100% !important;
  height: 43px;
  position: relative;
}

.caret {
  @include use-iconmoon-font();
  border: none;
  right: 24px !important;
  margin-top: -8px !important;
  color: $color-text-highlight;
  font-size: 1.9rem;
}
.caret:before {
  content: "\44";
}


.dropdown-menu {
  max-height: 145px !important;
  min-height: inherit !important;
  z-index: 800 !important;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: $font-size-1_4rem;
  text-align: left;
  background-color: $dropdown-color-bg-1;
  border: $dropdown-border-default;
  border-radius: $input-border-radius-default;
  color: $dropdown-color-text;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-clip: padding-box;
  width: 100%;
}
.dropdown-menu li {
  border-bottom: $input-border-default;
}
.dropdown-menu li.selected {
  background-color: $color-bg-secondary;
}
.dropdown-menu li:last-child {
  border: none;
}
.dropdown-menu li a {
  padding: $dropdown-link-padding;
}
.dropdown-menu li a:hover {
  background-color: $color-bg-secondary;
}
.header__account__dropdown .dropdown-menu {
  margin-top: 30px;
  left: 0;
  font-size: $dropdown-font-size;
  @include respond-from("screen-md") {
    right: -5px;
    left: auto;
    margin-top: 0;
    min-width: 200px;
  }
}


.bootstrap-select > .dropdown-toggle {
  height: $input-height;
  line-height: $input-height;
  background-color: $dropdown-color-bg-2;
  border: $dropdown-border-default;
  padding-left: $space-sm;
  padding-right: $space-xs;
  border-radius: $input-border-radius-default;
  color: $dropdown-color-text;
  font-size: $font-size-1_4rem;

  &:hover, &:focus {
    outline: none !important;
  }
}
.bootstrap-select > .dropdown-toggle:hover,
.bootstrap-select > .dropdown-toggle:focus {
  outline: none !important;
}

.dropup .dropdown-menu {
  margin-bottom: -2px;
}


// BOOTSTRAP SELECT END

// ----------------------- INPUT FIELDS END ------------------

// ----------------------- SPRITE FORM ELEMENTS START ------------------

.sprite-form {
  position: relative;
}

.sprite-form__radio-button {
  @include make-sprite-radio-button();
  @include vertical-center-absolute();
}

.sprite-form__checkbox {
  @include make-sprite-checkbox();
  @include vertical-center-absolute();
}

.sprite-form__label {
  padding-left: 30px;
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
}

// ----------------------- SPRITE FORM ELEMENTS END ------------------

// ----------------------- ERROR -----------------------------

%form-message {
  display: block;
  font-size: $error-msg-font-size;
  line-height: $error-msg-line-height;
  padding: $space-xs $input-padding-left;
}

.form__hint-message {
  @extend %form-message;
  font-size: $font-size-1_4rem;
  color: $color-text-selection;
  background-color: $color-bg-hint-message;
  margin-bottom: $space-md;
}

.form__error-message {
  @extend %form-message;
  color: $error-msg-color-text;
  background-color: $error-msg-color-bg;
  margin-top: -1px;
}
.form__error-message--above-form {
  margin-bottom: $space-md;
}
.form__error-message--address-not-valid,
.form__error-message.form__error-message--delivery-not-saved {
  margin-top: $space-sm;
  margin-bottom: 15px;
  @include respond-from("screen-md") {
    margin-top: 0;
  }
}


.form__success-message {
  @extend %form-message;
  color: $success-msg-color-text;
  background-color: $success-msg-color-bg;
}
.form__success-message--above-form {
  margin-bottom: $space-md;
}

.form__error-message a {
  @include make-link($error-msg-color-text, $error-msg-color-text);
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.form__success-message a {
  @include make-link($success-msg-color-text, $success-msg-color-text);
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

// ----------------------- FORM ERRORS END -----------------------------

.position-absolute__top-right {
  position: absolute;
  top: 13px;
  right: $space-sm;
  font-size: $font-size-1_4rem;
}
