/*
* layout definitions
*/

body {
  background-color: $color-bg-primary;
  -ms-overflow-style: scrollbar;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.fluid-container {
  @include fluid-container();
}

.responsive-img {
  @include responsive-img();
}

.wrapper-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left:  0;
  padding-right: 0;
  max-width: $screen-lg-min;
  @include respond-from("screen-sm") {
    padding-left:  $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  };
}

.turbolinks-progress-bar::before {
  background-color: $cta-color-bg-primary !important;
  height: 5px;
}


.menu.show-ios-smart-banner .header--mobile + main,
.checkout.show-ios-smart-banner .header--mobile + main {
  margin-top: $ios-smart-banner-height + $header-height-extra-small;
}
.show-ios-smart-banner main {
  margin-top: $ios-smart-banner-height;
}

.hidden-to-user {
  position: absolute !important;
  top: -9999px !important;
}

.pac-container {
  z-index: 2000 !important;
}
