/*
* layout definitions
*/

body {
  color: @text-color;
  font-size: @base-font-size;
  font-family: @base-font-family;
  font-weight: @base-font-weight;
  line-height: @base-line-height;
}

.page-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
