<form action="{{ action }}" id="contact-information-form" method="post" role="form" novalidate>
    <span class="form__error-message form__error-message--contact-not-saved form__error-message--above-form hide" id="error-message-contact-not-saved">
        {% trans %}contact_information.needs_to_be_saved{% endtrans %}
    </span>
    <div class="form-group checkout__contact-information__first-name">
        <input type="text" class="form-control" id="contact-information-first-name" name="customer[first_name]"
               value="" required="true" placeholder="{% trans %}form.placeholder.first_name{% endtrans %}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_first_name{% endtrans %}">
    </div>
    <div class="form-group checkout__contact-information__last-name">
        <input type="text" class="form-control" id="contact-information-last-name" name="customer[last_name]"
               value="" required="true" placeholder="{% trans %}form.placeholder.last_name{% endtrans %}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_last_name{% endtrans %}">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="contact-information-email" name="customer[email]" value=""
               required="true" placeholder="{% trans %}form.placeholder.email{% endtrans %}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_email{% endtrans %}">
    </div>
    <div class="form-group" id="contact-information-mobile-number-wrap">
        <input type="tel" class="form-control" id="contact-information-mobile-number" name="customer[mobile_number]"
               value=""
               required="true" placeholder="{% trans %}form.placeholder.mobile_number{% endtrans %}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_mobile_number{% endtrans %}">
    </div>
    <div class="form-group checkout__step__item-form-group--newsletter sprite-form">
        <input type="checkbox" class="form-control sprite-form__checkbox" name="customer[is_newsletter_subscribed]"
               id="newsletter_checkbox" value="true" data-unchecked-value="false" checked="checked">
        <div class="sprite-form__sprite"></div>
        <label class="sprite-form__label" for="newsletter_checkbox">
            {% trans %}form.label.newsletter{% endtrans %}
        </label>
    </div>
    <button class="checkout__step__item-button button">{% trans %}button.continue{% endtrans %}</button>
</form>
