<h3 class="checkout__step__title">2. {% trans %}title.contact_information{% endtrans %}
    <span class="checkout__title-link checkout__contact-information__title-link hide">
        <a>
            <i class="checkout__title-link__icon icon-pencil"></i>
            <span class="checkout__title-link__text--edit-contact">{% trans %}link.edit_contact_information{% endtrans %}</span>
            <span class="checkout__title-link__text--cancel-contact">{% trans %}link.cancel{% endtrans %}</span>
        </a>
    </span>
</h3>

<div class="checkout__step__items">
    <div class="checkout__step__item">
        <div class="checkout__step__item-content">
            <div id="checkout-contact-information">
                <div class="customer_full_name"></div>
                <div class="customer_email"></div>
                <div class="customer_phone_number"></div>
            </div>
            <div id="checkout-edit-contact-information" class="hide">
                {% include('VoloFrontendBundle:Checkout/Partial:contact_information_form.html.twig') with {action: ''} %}
            </div>
        </div>
    </div>
</div>
