{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block title %}{% trans %}meta_title.error_page_generic{% endtrans %} | {% trans %}brand{% endtrans %}{% endblock %}

{% block body_class %}error-page{% endblock %}

{% block headerClass %}header--white header-small{% endblock headerClass %}
{% block head_scripts %}
    <script src="{{ asset('js/dist/libs.js') }}"></script>
{% endblock head_scripts %}

{% block content %}
    <div class="error-page__blocks-wrapper">
        <div class="error-page__blocks error-page__blocks--general">
            <div class="error-page__block">
                <h1 class="error-page__block__error-code error-page__block__error-code--shadowed-static">{% trans %}error.general_title_main{% endtrans %}</h1>
                <h1 class="error-page__block__error-code error-page__block__error-code--shadowed-dynamic">{% trans %}error.general_title_main{% endtrans %}</h1>
                <div class="error-page__block__error-title">{% trans %}error.general_text_italic{% endtrans %}</div>
                <div class="error-page__block__error-message">{% trans %}error.general_text_main{% endtrans %}</div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.error-page__block__error-code--shadowed-dynamic').realshadow({
            color: '100,100,0',
            type: 'text'
        });
    });
</script>
{% endblock %}

{% block footer_size_class %}footer-reduced{% endblock footer_size_class %}
{% block footer %}
    {{ include('VoloFrontendBundle:Layout/Partial/:reduced_footer.html.twig') }}
{% endblock footer %}
