{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for message in errors %}
        <div class="error">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <form action="{{ path('customer.create') }}" method="post" role="form">
                {% include 'VoloFrontendBundle:Customer/Partial:customer_registration_form.html.twig' with {'customer' : customer} %}
                <input type="submit" value="Register" class="btn-submit"/>
            </form>
        </div>
    </div>
{% endblock %}
