{% block content %}
    <h4 class="modal__h4 text-center">{% trans %}title.forgot_password{% endtrans %}</h4>
    <div class="modal__padding-left-right">

        {% if errors %}
            <div class="modal-error-message">
                {% for message in errors %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form class="forgot-password-form" action="{{ path('customer.forgot_password') }}" method="post" role="form" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="_email" placeholder="{% trans %}form.placeholder.email{% endtrans %}"
                       data-toggle="tooltip" data-validation-msg="{% trans %}validations.error.forgot_password.email{% endtrans %}"/>
            </div>
            <button class="button button--full-width modal__padding-left-right" type="submit">{% trans %}button.submit{% endtrans %}</button>
        </form>

        <div class="text-center login-registration-link">{% trans %}link.have_account{% endtrans %} <a class="login-link">{% trans %}link.login{% endtrans %}</a></div>
    </div>
{% endblock %}
