<h4 class="modal__h4 text-center">{% trans %}title.forgot_password_success{% endtrans %}</h4>
<div class="modal__padding-left-right">
    <div class="text-center login-registration-link">
        {% trans %}content.forgot_password_success_text{% endtrans %}
    </div>
</div>
