/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/app/config/countries_parameters/*.yml
!/app/config/countries_parameters/test.yml
!/app/config/countries_parameters/dist/*

/app/Resources/translations/*
/.idea

# nodejs
node_modules/*
bower_components/*

# generated assets
/src/Volo/FrontendBundle/Resources/public/js/dist/*
/web/css/dist/*
/web/img/dist/*
/web/js/dist/*
/src/Volo/FrontendBundle/Resources/public/dist/*
/.sass-cache/*
/.grunt/*
/web/thumbor/configuration.js
/web/js/fos_js_routes.js

