{% block content %}
    <h4 class="modal__h4 text-center">{% trans %}title.login{% endtrans %}</h4>
    <div class="modal__padding-left-right">

        {% if error %}
            <div class="modal-error-message">
                <span class="icon-attention"></span> {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endif %}

        <form class="login-form" action="{{ path('login_check') }}" method="post" role="form" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" id="username" name="_username"
                       value="{{ last_username }}" required="true" placeholder="{% trans %}form.placeholder.username{% endtrans %}"
                       data-toggle="tooltip" data-validation-msg="{% trans %}validations.error.login.username{% endtrans %}"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="_password" placeholder="{% trans %}form.placeholder.password{% endtrans %}"
                       data-toggle="tooltip" data-validation-msg="{% trans %}validations.error.login.password{% endtrans %}"/>
            </div>
            <button class="button button--full-width modal__padding-left-right" type="submit">{% trans %}button.login{% endtrans %}</button>
        </form>

        <div class="text-center login-registration-link">{% trans %}content.dont_have_account{% endtrans %} <a class="register-link">{% trans %}link.signup{% endtrans %}</a></div>
    </div>
{% endblock %}
