.checkout-page {
  .header__cart {
    display: none;
  }
}

.checkout-wrapper {
  padding-bottom: 0;
  @include respond-from("screen-md") {
    @include fluid-container();

  }
}

.checkout {
  @include respond-from("screen-md") {
    @include make-row();
    margin-top: 0;
  }
}

.checkout__main {
  @include make-md-column(8);
  @include make-lg-column(7);
  @extend .col-lg-push-1;
  padding: 0;
  background-color: $color-bg-primary;
  margin-top:  $header-height-extra-small;
  @include respond-from("screen-md") {
    border-radius: $border-radius-default;
    margin-top: $header-height-small + $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
  }
  #show-login-overlay {
    display: none;
  }
}

.checkout__time {
  @include clearfix;
  padding: 0 $grid-gutter-width / 2 $grid-gutter-width / 2;
  @include respond-from("screen-md") {
    padding: 0 $grid-gutter-width $grid-gutter-width;
  }
}

// titles and subtitles

.checkout__title {
  font-family: $bold-font-family;
  font-size: 0.875em;
  padding: $space-sm $grid-gutter-width / 2;
  line-height: normal;
  background-color: $color-bg-secondary;
  border-top: $dropdown-border;
  border-bottom: $dropdown-border;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  @include respond-from("screen-md") {
    padding: $grid-gutter-width;
    font-size: 0.93em;
    background-color: transparent;
    border-bottom: none;
    margin-bottom: 0;
  }

  &:first-child {
    border-top: none;
  }
}

.checkout__title--summary {
  border-top: 0;
  background-color: $color-bg-secondary;
}

.checkout__title--step {
  color: $color-text-light;
  margin-bottom: 0;
  border-top: none;
  @include respond-from("screen-md") {
    border-top: $dropdown-border;
    padding: $grid-gutter-width;
  }
}

.checkout__title--stacked {
  margin-bottom: 0;
}

.checkout__subtitle {
  font-family: $bold-font-family;
  font-size: $small-font-size;
  padding: $space-md $grid-gutter-width / 2;
  line-height: normal;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  @include respond-from("screen-md") {
    padding: 0 $grid-gutter-width $space-md;
    font-size: $base-font-size;
  }

  i.icon-cancel {
    font-size: 1.2em;
  }
}

.checkout__title__edit {
  float: right;
  display: inline-block;
  text-transform: none;
  font-family: $base-font-family;
  font-size: $small-font-size;
  @include respond-from("screen-md") {
    font-size: $base-font-size;
  }

  i {
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
    color: $color-text-highlight;
  }

  i.icon-cancel {
    font-size: 1.2em;
  }
}

.checkout_cart {
  margin-top: 53px;
}

.checkout__subtitle__edit {
  @extend .checkout__title__edit;
}

.checkout__subtitle__open {
  @extend .checkout__title__edit;
  padding: $grid-gutter-width / 2;
  float: none;
  @include respond-from("screen-md") {
    padding: $grid-gutter-width;
  }
}

.add_new_address_link__text--cancel{
  display: none;
}

.delivery_information_list-shown {
  & .add_new_address_link__text--add-address,
  & .icon-plus {
    display: none;
  }

  & .add_new_address_link__text--cancel {
    display: block;
  }
}

.checkout__delivery_information {
  @include make-row(0);
}

.checkout__delivery_information__address {
  .checkout__subtitle {
    text-align: left;
  }
  @include make-xs-column(6, 0);
}

.checkout__delivery_information__time {
  @include make-xs-column(6, 0);
  .checkout__subtitle {
    text-align: left;
  }
  @include respond-from("screen-md") {
    .checkout__subtitle,
    .checkout__item {
      padding-left: 5px;
    }
  }
}

.checkout__add_new_credit_card__container {
  overflow: auto;
  position: relative;
  height: 30px;
  padding-right: $grid-gutter-width;
}

.paymentFormOpen {
  .checkout__add_new_credit_card__text--edit,
  .icon-plus {
    display: none;
  }
  .checkout__add_new_credit_card__text--cancel {
    display: block;
  }
}

.checkout__add_new_credit_card__text--cancel {
  display: none;
}
// main fields

.checkout__time-field {
  @include make-xs-column(6);
  padding: 0;

  select {
    @extend .form-control;
  }
}

.checkout__item {
  @include clearfix;
  line-height: 1.4em;
  font-size: 0.813em;
  padding: $space-sm;
  padding-top: 0;

  .button {
    width: 100%;
  }

  @include respond-from("screen-md") {
    font-size: 0.875em;
    border: 0;
    padding: 0 $grid-gutter-width $space-lg;

    .button {
      float: right;
      width: auto;
    }
  }

  textarea {
    height: $input-height * 2;
    line-height: 1.4em;
  }

  span {
    display: block;

    &.notes {
      color: $color-text-secondary;
    }

    &:first-child {
      margin-top: $space-sm;
      @include respond-from("screen-md") {
        margin-top: 0;
      }
    }
  }

  .checkout__item {
    font-size: 1em;
  }
}

.checkout__item--delivery-list {
  padding-left: 0;
  padding-right: 0;
}

.contact_information_form-open {
  .edit_contact_information_form_link__text--edit,
  .icon-pencil {
    display: none;
  }
  .edit_contact_information_form_link__text--cancel {
    display: block;
  }
}

.edit_contact_information_form_link__text--cancel {
  display: none;
}

.checkout__more-feature-link .select_other_address_link__text--cancel {
  display: none;
}

.checkout__more-feature-link.address-selection--open {
  & .select_other_address_link__text--select {
    display: none;
  }
  & .select_other_address_link__text--cancel {
    display: block;
  }
}

.checkout__item--no-subtitle {
  padding-top: $space-sm;
  @include respond-from("screen-md") {
    padding-top: 0;
  }
}

.checkout__item--step {
  padding-top: $space-sm;
  @include respond-from("screen-md") {
    padding-top: 0;
  }
}

.checkout__item--stacked {
  @include appear-from("screen-md");
}

.checkout__item__info {
  @include make-xs-column(12);

  .checkout__subtitle {
    font-size: 1em;
    padding-bottom: 0;
  }
}

.checkout__item__note {
  color: $color-text-secondary;
  width: 55%;
}

.checkout__item--cta-box {
  @include appear-from("screen-md");
  @extend .checkout__item;
  padding-top: $grid-gutter-width / 2;
  border: none;

  span {
    display: inline-block;
    float: right;

    i {
      display: inline-block;
      vertical-align: middle;
      color: $color-text-highlight;
      font-size: 1.2em;
    }
  }
}

// time picker

.time-picker {
  .desktop-cart__title {
    @extend .checkout__subtitle;
  }

  .desktop-cart__time {
    @extend .checkout__time;
  }

  .desktop-cart__time__field-date, .desktop-cart__time__field-time {
    @extend .checkout__time-field;
  }
}

// address box

.checkout__address-boxes {

  @include respond-from("screen-md") {
    @include make-row();
    padding-bottom:  $grid-gutter-width / 2;
    padding-left:  $grid-gutter-width / 2;
  }
}

.checkout__address-box {

  @include clearfix;
  line-height: 1.4em;
  font-size: 0.813em;
  padding: $space-sm;
  border-bottom: $dropdown-border;

  @include respond-from("screen-md") {
    @include make-md-column(4);
    padding-left: 0;
  }
}

.checkout__address-box__wrapper {

  @include respond-from("screen-md") {
    border: $dropdown-border;
    padding: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
    height: 110px;
    overflow: hidden;
    line-height: 1.4em;
    font-size: 0.875em;
    position: relative;

    &:hover {
      cursor: pointer;
      border: $input-border-active;
    }
  }
}

.checkout__address-box__wrapper--active {
  @include respond-from("screen-md") {
    @extend .checkout__address-box__wrapper;
    border: $input-border-active;
  }
}

.checkout__address-box__notes {
  color: $color-text-secondary;
  @include respond-from("screen-md") {
    @include text-overflow();
  }
}

.checkout__address-box__new {
  @include respond-from("screen-md") {
    margin: auto;
    text-align: center;
    @include vertical-center-element();

    i {
      display: block;
      color: $color-icons-separator;
      font-size: 1.4em;
    }
  }
}

// payment type selection

.checkout__payments {
  @include respond-from("screen-md") {
    @include make-row();
    padding-bottom:  $grid-gutter-width / 2;
    padding-left:  $grid-gutter-width / 2;
    border: none;
    margin: 0 $grid-gutter-width / 2;
  }
}

.checkout__payment {
  @include make-md-column(4);
  @include make-lg-column(3);
  @include clearfix;
  padding: 0;
  line-height: 1.4em;
  font-size: 0.813em;
  @include respond-from("screen-md") {
    padding: $space-sm;
    padding-left: 0;
  }
}

.checkout__payment__wrapper {
  border-bottom: $dropdown-border;
  padding: $space-sm;
  &:hover {
    cursor: pointer;
  }

  i {
    display: none;
  }

  @include respond-from("screen-md") {
    border: $dropdown-border;
    padding: $space-sm 0;
    margin-bottom: $grid-gutter-width / 2;
    overflow: hidden;
    line-height: 1.4em;
    font-size: 1em;
    position: relative;

    @include transition(all .1s linear);
    &:hover {
      cursor: pointer;
      border: $cta-secondary-border;
      color: $color-text-highlight;
    }
  }
}

.checkout__payment__wrapper--active {
  color: $color-text-highlight;

  i {
    display: inline-block;
    margin-right: $space-xs;
    color: $color-text-highlight;
  }

  @include respond-from("screen-md") {
    border: $cta-secondary-border;

    i {
      display: none;
    }
  }
}

.checkout__payment_img {
  float: right;
  width: 40%;
  height: 30px;
  text-align: right;
  margin-top: -5px;

  img {
    display: inline;
    height: 30px;
  }

  @include respond-from("screen-md") {
    white-space: nowrap;
    height: 40px;
    float: none;
    width: auto;
    text-align: center;
    margin-top: 0;

    img {
      height: 40px;
    }
  }
}

.checkout__payment_label {
  width: 70%;
  @include respond-from("screen-md") {
    width: 100%;
    text-align: center;
  }
}

.checkout__payment_paypal_description {
  color: $color-text-inactive;
  clear: both;
  font-size: 0.8em;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  @include respond-from("screen-md") {
    padding-left: 0;
    padding-right: 0;
  }
}

// credit card form

.checkout__item__card {

  .form-group {
    margin: 0 0 $space-sm;
  }

  @include respond-from("screen-md") {
    width: 50%;
    float: left;
  }
}

.checkout__item__card__help {
  text-align: right;
  display: none;

  @include respond-from("screen-md") {
    width: 45%;
    float: left;
    padding-left: 28px;
    text-align: left;

    img {
      @include responsive-img();
    }
  }
}

.voucher-component {
  width: 100%;
  float: left;
  clear: both;

  #voucher_form {
    display: none;
  }

  #voucher-wrapper {
    display: none;
  }

  .error_invalid_voucher {
    display: none;
  }

  .checkout__item {
    border: none;
  }
}

.checkout__disclaimer {
  @include make-xs-column(12);
  @include make-md-column(6);
  @extend .col-md-pull-6;
  padding: $space-sm;
  font-size: 0.875em;
  color: $color-text-secondary;
  text-align: center;
  line-height: 1.4em;
  border-bottom: $dropdown-border;
  @include respond-from("screen-md") {
    text-align: left;
    padding: $grid-gutter-width;
    border: none;
  }
}

.checkout__legal {
  text-align:  center;
  font-size: 0.875em;
  color: $color-text-light;
  padding: $space-sm;

  span {
    display: inline-block;
    margin-right: 14px;
  }
}

.checkout__submit {
  @include make-xs-column(12);
  @include make-md-column(6);
  @extend .col-md-push-6;
  padding: 0 $space-sm;

  .button {
    width: 100%;
  }

  @include respond-from("screen-md") {
    padding: $grid-gutter-width;

    .button {
      float: right;
      width: auto;
    }
  }
}

.checkout__list {
  @extend .radio;
  line-height: 40px;
  font-size: 0.875em;
  padding: $space-xs $space-md;
  margin: 0;
  .checkout__list__radio_button {
    height: 44px;
    width: 20px;
    margin-left: 0 !important;
  }
}

.checkout__list__radio_button {
  @include make-sprite-radiobutton(
    $radiobutton-simple-unselected-group,
    $radiobutton-simple-selected-group,
    $radiobutton-simple-unselected-height
  );
}

.checkout__list__text {
  line-height: 40px;
  padding-left: 0 !important;
  display: inline-block;
}

.checkout__list__payment_option_type {
  vertical-align: middle;
  display: inline-block;
}

.checkout__list__payment_option_type--visa {
  @include retina-sprite($visa-group);
}

.checkout__list__payment_option_type--mastercard {
  @include retina-sprite($mastercard-group);
}

.delivery__notes {
  color: $color-text-secondary;
}

.checkout__more-feature-link {
  display: block;
  margin-top: $space-lg;
}

.checkout__address-list {
  line-height: 1.4em;
  padding: $space-xs;
  border-top: $dropdown-border;
  margin: 0;
  @include respond-from("screen-md") {
    padding: $space-sm;
  }
  &:last-child {
    border-bottom: $dropdown-border;
  }
  .delivery_address {
    padding: $space-xs;
    @include respond-from("screen-md") {
      padding: $space-sm;
    }
    background-color: $color-bg-primary;
    cursor: pointer;

    @include transition(background-color .1s linear);
    &:hover {
      background-color: $color-bg-secondary;
    }
  }
}

.selected-address {
  @extend .radio;
  line-height: 1.4em;
  padding: $space-sm;
  margin: 0;
  @include respond-from("screen-md") {
    padding: $grid-gutter-width;
  }

}

.checkout__add-new-wrap {
  @include clearfix;
  @include respond-from("screen-md") {
    padding-top: $grid-gutter-width;
  }
}

.delivery-modal {
  .modal-close-button {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 2px;
    @include retina-sprite($modal-close-group);
    @include respond-from("screen-md") {
      right: 15px;
      top: -15px;
    }
  }
}
