/*
* checkout-page declarations
*/


// -------------------------- CHECKOUT PLACEHOLDERS START --------------------------

// TODO : refactor style to use proper Bootsrap columns layout instead of this custom columns
%two-columns-form-layout {
  @extend .clearfix;
  width: 50%;
  float: left;
  clear: none;
}

%two-columns-form-layout--uneven {
  @extend .clearfix;
  float: left;
  clear: none;
}

%two-columns-form-layout--from-md {
  @extend .clearfix;
  width: 100%;
  float: none;
  @include respond-from("screen-md") {
    width: 50%;
    float: left;
  }
}

%three-columns-form-layout {
  @extend .clearfix;
  width: 33%;
  float: left;
  clear: none;
}

// -------------------------- CHECKOUT PLACEHOLDERS END --------------------------


// -------------------------- CHECKOUT WRAPPERS START --------------------------

.checkout-wrapper {
  padding-bottom: 0;
  @include respond-from("screen-md") {
    @include fluid-container();
  }
}

.checkout__blocks {
  @include respond-from("screen-md") {
    @include make-row();
    margin-top: 0;
  }
}

// -------------------------- CHECKOUT WRAPPERS START --------------------------


// -------------------------- CHECKOUT STEPS START --------------------------

.checkout__steps {
  @include make-md-column(8);
  @include make-lg-column(7);
  @extend .col-lg-push-1;
  padding: 0;
  background-color: $color-bg-primary;
  margin-top:  $header-height-extra-small;
  @include respond-from("screen-md") {
    margin-top: $header-height-small + $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
  }
}

.checkout__step {
  @include make-row(0);
  @include respond-from("screen-md") {
    border-bottom: none;
  }
}

.checkout__step__title {
  @include make-xs-column(12);
  font-family: $bold-font-family;
  font-size: 0.875em;
  line-height: normal;
  padding: $space-sm;
  background-color: $color-bg-secondary;
  margin: 0;
  text-transform: uppercase;
  border-bottom: $dropdown-border;
  @include respond-from("screen-md") {
    border-radius: $border-radius-default;
    border-bottom: none;
    font-size: 0.93em;
    padding: $grid-gutter-width;
    background-color: transparent;
  }
}
.checkout__step--reduced .checkout__step__title {
  border-bottom: $dropdown-border;
}
.checkout__step:last-child .checkout__step__title {
  @include respond-from("screen-md") {
    border-bottom: none;
  }
}
.checkout__step--reduced .checkout__step__title {
  color: $color-text-light;
}


// -------------------------- CHECKOUT STEPS END --------------------------


// -------------------------- CHECKOUT ITEMS START --------------------------

.checkout__step__items {
  border-bottom: $dropdown-border;
  @include make-xs-column(12, 0);
}
.checkout__contact-information .checkout__step__items {
  padding-top: $space-sm;
  @include respond-from("screen-md") {
    padding-top: 0;
  }
}
.checkout__contact-information.checkout__step--active .checkout__step__items {
  border-bottom: $dropdown-border;
  @include respond-from("screen-md") {
    border-bottom: 0;
  }
}
.checkout__step--reduced .checkout__step__items {
  display: none;
}
.checkout__step:last-child .checkout__step__items {
  border-bottom: none;
}


.checkout__step__item {
  @include make-xs-column(12, 0);
  padding-bottom: $space-sm;
  @include respond-from("screen-md") {
    padding-bottom: $space-lg;
  }
}
.checkout__step__item.checkout__payment__options {
  padding-bottom: 0;
  @include respond-from("screen-md") {
    padding-bottom: $space-sm;
  }
}
.checkout__step__item.checkout__delivery-information__edit-address {
  padding-bottom: 0;
}
.checkout__step__item.checkout__payment__finish-and-pay {
  padding-bottom: 0;
}
.checkout__step__item.checkout__payment__credit-card {
  padding-bottom: 0;
}

.checkout__subtitle--above-form {
  font-size: 0.8em;
  margin-top: -2px;
  @include respond-from("screen-md") {
    margin-top: -27px;
  };
}

.checkout__step__item-content {
  @include clearfix;
  @include make-xs-column(12);
  padding: 0 $space-sm;
  line-height: 1.4em;
  font-size: 13px;
  @include respond-from("screen-md") {
    padding: 0 $grid-gutter-width;
    font-size: 14px;
  }
}
.checkout__delivery-information__time .checkout__step__item-content {
  @include respond-from("screen-md") {
    padding-left: 5px;
  }
}
.checkout__payment__legal .checkout__step__item-content {
  line-height: 1.3em;
  font-size: 11px;
}
.checkout__payment__options-list.checkout__step__item-content {
  padding: 0;
  @include respond-from("screen-md") {
    padding: 0 $grid-gutter-width;
  }
}
.checkout__delivery-information__edit-address .checkout__step__item-content {
  padding: 0;
  @include respond-from("screen-md") {
    padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;
  }
}



.checkout__step__item-title {
  font-family: $bold-font-family;
  font-size: 13px;
  padding: $space-md $space-sm;
  line-height: normal;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  @include respond-from("screen-md") {
    font-size: 14px;
    padding: 0 $grid-gutter-width $space-md $grid-gutter-width;
  }
}
.checkout__delivery-information__time .checkout__step__item-title {
  @include respond-from("screen-md") {
    padding-left: 5px;
  }
}


.checkout__step__item-button {
  width: 100%;
  @include respond-from("screen-md") {
    float: right;
    width: auto;
  }
}

// Do not remove textarea in this selector
//required to overwrite the textarea.form-control style in _variables.scss
textarea.checkout__step__item-textarea {
  height: $input-height * 2;
  line-height: 1.4em;
}


// -------------------------- CHECKOUT ITEMS END --------------------------


// -------------------------- CHECKOUT TITLE LINK START --------------------------

.checkout__title-link {
  float: right;
  display: inline-block;
  text-transform: none;
  font-family: $base-font-family;
  font-size: 13px;
  @include respond-from("screen-md") {
    font-size: 14px;
  }
}
.checkout__payment__voucher .checkout__title-link {
  float: none;
  padding: $grid-gutter-width $grid-gutter-width / 2 $grid-gutter-width / 2 $grid-gutter-width / 2;
  @include respond-from("screen-md") {
    padding: $grid-gutter-width $grid-gutter-width / 2 $grid-gutter-width / 2 $grid-gutter-width;
  }
}


.checkout__title-link__icon {
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
  color: $color-text-highlight;
}
.checkout__contact-information__title-link--form-open .checkout__title-link__icon {
  display: none;
}
.checkout__delivery-information--list-shown .checkout__title-link__icon--plus {
  display: none;
}


// TODO consider refactoring this code moving initial state definition to HTML
.checkout__title-link__text--cancel {
  display: none;
}
.checkout__delivery-information--list-shown .checkout__title-link__text--cancel {
  display: block;
}
.checkout__delivery-information--list-shown .checkout__title-link__text--add-address-delivery {
  display: none;
}
.checkout__title-link__text--cancel-delivery  {
  display: none;
}
.checkout__delivery-information--list-shown .checkout__title-link__text--cancel-delivery {
  display: block;
}
.checkout__delivery-information--list-shown .checkout__title-link__text--add-address {
  display: none;
}
.checkout__contact-information__title-link--form-open .checkout__title-link__text--edit-contact {
  display: none;
}
.checkout__title-link__text--cancel-contact {
  display: none;
}
.checkout__contact-information__title-link--form-open .checkout__title-link__text--cancel-contact {
  display: block;
}
.checkout__payment__select-address-link .checkout__title-link__text--cancel-list {
  display: none;
}
.checkout__payment__select-address-link--open .checkout__title-link__text--cancel-list {
  display: block;
}
.checkout__payment__select-address-link--open .checkout__title-link__text--select-list {
  display: none;
}


// -------------------------- CHECKOUT TITLES END --------------------------


// -------------------------- CHECKOUT DELIVERY INFORMATION START --------------------------


.checkout__delivery-information__address {
  @include make-xs-column(6, 0);
  background-color: $color-bg-primary;
  cursor: pointer;
  @include transition(background-color .1s linear);
}
.checkout__delivery-information__address:hover {
  background-color: $color-bg-secondary;
}


.checkout__delivery-information__time {
  @include make-xs-column(6, 0);
}

.checkout__payment__select-address-link {
  display: block;
}

.checkout__delivery-information__form {
  padding: 0;
  border-bottom: $dropdown-border;
  @include respond-from("screen-md") {
    border-bottom: none;
  }
}

.checkout__delivery-information__address-line-1 {
  @extend %two-columns-form-layout--uneven;
  width: 80%;
  padding-right: $space-xs;
}

.checkout__delivery-information__address-line-2 {
  @extend %two-columns-form-layout--uneven;
  width: 20%;
  padding-left: $space-xs;
}

.checkout__delivery-information__postal-index {
  @extend %two-columns-form-layout;
  padding-right: $space-xs;
}

.checkout__delivery-information__city {
  @extend %two-columns-form-layout;
  padding-left: $space-xs;
}

.checkout__delivery-information__list {
  margin-left: -5px;
  margin-right: -5px;
}

.checkout__delivery-information__addresses {
  @include make-sm-column(6);
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: $space-sm;
}
.isGuest.checkout__delivery-information__addresses {
  margin-bottom: 0;
}

.checkout__delivery-information__item {
  @include clearfix();
  position: relative;
  padding: $space-sm;
  border: $base-border;
  margin: 0;
  background-color: $color-bg-primary;
  cursor: pointer;
  @include transition(background-color .1s linear);
  @include respond-from("screen-sm") {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
  }
}
.isGuest.checkout__delivery-information__item {
  border: none;
  cursor: default;
  padding: 0;
}
.checkout__delivery-information__addresses--active .checkout__delivery-information__item {
  border: $cta-secondary-border;
}
.isGuest.checkout__delivery-information__addresses--active .checkout__delivery-information__item {
  border: none;
  cursor: default;
}

.checkout__delivery-information__notes {
  color: $color-text-light;
  margin-top: $space-xs;
}

.checkout__delivery-information__company {
  padding-right: 50px;
}
.is-mobile .checkout__delivery-information__company {
  padding-right: 70px;
}

.checkout__delivery-information__company,
.checkout__delivery-information__notes,
.checkout__delivery-information__address-line {
  @include hide-text-on-one-line();
  height: 18px;
  @include respond-from("screen-md") {
    height: 19px;
  }
}

.delivery-information-list {
  margin: 0 $space-xs;

  @include respond-from("screen-md") {
    margin: 0 $space-lg;
  }
}

.checkout__delivery-information__delete-modal-wrapper {
  position: absolute;
  background-color: $color-bg-primary;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.delivery-information__delete-modal__text {
  @include make-xs-column(12);
  @include hide-text-on-one-line();
  padding-right: $space-lg;
}

.delivery-information__delete-modal__button {
  @include make-xs-column(6);
}


.checkout__delivery-information__address-link {
  position: absolute;
  top: 10px;
  font-size: 16px;
  color: $color-text-inactive;
}
.checkout__delivery-information__address-link:hover {
  color: $color-text-link-hover;
}
.is-mobile .checkout__delivery-information__address-link {
  color: $color-text-link;
}
.checkout__delivery-information__address-link--cancel {
  right: 10px;
}
.is-mobile .checkout__delivery-information__address-link--cancel {
  right: 20px;
}
.checkout__delivery-information__address-link--edit {
  right: 33px;
}
.is-mobile .checkout__delivery-information__address-link--edit {
  right: 55px;
}


// -------------------------- CHECKOUT DELIVERY INFORMATION END --------------------------


// -------------------------- CHECKOUT CONTACT INFORMATION START --------------------------

.checkout__contact-information__form-first-name {
  @extend %two-columns-form-layout--from-md;
  padding-right: 0;
  @include respond-from("screen-md") {
    padding-right: $space-xs;
  }
}

.checkout__contact-information__form-last-name  {
  @extend %two-columns-form-layout--from-md;
  padding-left: 0;
  @include respond-from("screen-md") {
    padding-left: $space-xs;
    clear: none;
  }
}

// -------------------------- CHECKOUT CONTACT INFORMATION END --------------------------


// -------------------------- CHECKOUT PAYMENT START --------------------------


.checkout__saved-payment-options {
  padding-bottom: 0;
}

.checkout__saved-payment-options__add-card-link {
  position: relative;
  height: 30px;
  padding-right: 0;
  padding-top: $space-sm;
  @include respond-from("screen-md") {
    padding-top: 0;
  }
}

.checkout__saved-payment-options-open .checkout__title-link__icon--plus {
  display: none;
}


// TODO consider refactoring this code moving initial state definition to HTML
.checkout__saved-payment-options__add-card-link-text--cancel {
  display: none;
}
.checkout__saved-payment-options-open .checkout__saved-payment-options__add-card-link-text--cancel {
  display: block;
}
.checkout__saved-payment-options-open .checkout__saved-payment-options__add-card-link-text--edit {
  display: none;
}

.checkout__payment__option {
  @include make-md-column(4);
  @include clearfix;
  padding: 0;
  line-height: 1.4em;
  font-size: 13px;
  @include respond-from("screen-md") {
    padding: $space-sm;
    padding-left: 0;
  }
}


.checkout__payment__option-wrapper {
  border-bottom: $dropdown-border;
  padding: $space-sm;
  @include respond-from("screen-md") {
    border: $dropdown-border;
    padding: $space-sm 0;
    margin-bottom: $grid-gutter-width / 2;
    overflow: hidden;
    line-height: 1.4em;
    font-size: 1em;
    position: relative;
    @include transition(all .1s linear);
  }
}
.checkout__payment__option-wrapper:hover {
  cursor: pointer;
  @include respond-from("screen-md") {
    border: $cta-secondary-border;
    color: $color-text-highlight;
  }
}
.checkout__payment__option-wrapper--active {
 color: $color-text-highlight;
 @include respond-from("screen-md") {
   border: $cta-secondary-border;
 }
}


.checkout__payment__option-label-icon {
  margin-right: $space-xs;
  color: $color-text-highlight;
  display: none;
}
.checkout__payment__option-wrapper--active .checkout__payment__option-label-icon {
  display: inline-block;
  @include respond-from("screen-md") {
    display: none;
  }
}


.checkout__payment__option-image-wrapper {
  float: right;
  width: 60%;
  height: 30px;
  text-align: right;
  margin-top: -5px;
  @include respond-from("screen-md") {
    white-space: nowrap;
    height: 35px;
    float: none;
    width: auto;
    text-align: center;
    margin-top: 0;
  }
}
.checkout__payment__option-image {
  display: inline;
  height: 30px;
  @include respond-from("screen-md") {
    height: 40px;
  }
}


.checkout__payment__option-label {
  width: 70%;
  @include respond-from("screen-md") {
    width: 100%;
    text-align: center;
  }
}

.checkout__payment__option-description {
  clear: both;
  font-size: 12px;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  @include respond-from("screen-md") {
    padding-left: 0;
  }
}

.checkout__payment__option-description-title {
  font-family: $bold-font-family;
  padding-top: $space-sm;
  padding-bottom: $space-xs;
  text-transform: uppercase;
  @include respond-from("screen-md") {
    padding-top: 0;
  }
}

.checkout__saved-payment-options__list {
  padding: $space-sm 0;
  min-height: 40px;
}


.checkout__saved-payment-options__list-label {
  font-size: 12px;
  @include respond-from("screen-md") {
    font-size: 14px;
  }
}
.checkout__saved-payment-options__list:first-child {
  margin-top: 10px;
}


.checkout__payment__option-description-text {
  line-height: $base-line-height;
}


.checkout__saved-payment-options__option-type {
  vertical-align: middle;
  display: inline-block;
}
.checkout__saved-payment-options__option-type--visa {
  @include retina-sprite($visa-group);
}
.checkout__saved-payment-options__option-type--mastercard {
  @include retina-sprite($mastercard-group);
}


.checkout__payment__credit-card-fields {
  @include respond-from("screen-md") {
    width: 50%;
    float: left;
  }
}


.checkout__payment__credit-card-fields-form-group {
  margin: 0 0 $space-sm;
}
.checkout__payment__credit-card-fields-form-group--expiry {
  @extend %three-columns-form-layout;
  padding-right: $space-sm;
}
.checkout__payment__credit-card-fields-form-group--cvc {
  @extend %three-columns-form-layout;
  width: 34%;
  padding-right: 0;
}


.checkout__payment__credit-card-fields-help {
  display: none;
  width: 67%;
  text-align: right;
  @include respond-from("screen-md") {
    text-align: left;
    width: 45%;
    float: left;
    padding-left: 28px;
  }
}

.checkout__payment__credit-card-fields-help-img {
  @include responsive-img();
}

.checkout__payment__voucher {
  width: 100%;
  float: left;
  clear: both;
  padding: 0;
}

.checkout__payment__voucher-form {
  display: none;
  padding-bottom: $grid-gutter-width;
  @extend .clearfix;
}

.checkout__payment__voucher-selected {
  display: none;
}

.checkout__payment__voucher-code {
  @extend %two-columns-form-layout--from-md;
  padding-right: 0;
  @include respond-from("screen-md") {
    padding-right: $space-xs;
  }
}

.checkout__payment__voucher-apply {
  @extend %two-columns-form-layout--from-md;
  padding-left: 0;
  @include respond-from("screen-md") {
    padding-left: $space-xs;
    clear: none;
  }
}

.checkout__payment__voucher-apply-button {
  width: 100%;
  @include respond-from("screen-md") {
    width: auto;
  }
}

.checkout__payment__legal {
  text-align:  center;
  font-size: 0.7em;
  line-height: 1.3em;
  color: $color-text-light;
  padding: $space-sm 0;
}

.checkout__payment__legal-item {
  display: inline-block;
}

.checkout__payment__finish-and-pay-submit {
  @include make-xs-column(12);
  @include make-md-column(6);
  @extend .col-md-push-6;
  padding: 0;
  font-size: 16px;
  @include respond-from("screen-md") {
    padding: $grid-gutter-width 0 $grid-gutter-width $grid-gutter-width;
  }
}

.checkout__payment__finish-and-pay-submit-button {
  width: 100%;
  @include respond-from("screen-md") {
    float: right;
    width: auto;
  }
}

.checkout__payment__finish-and-pay-disclaimer {
  @include make-xs-column(12);
  @include make-md-column(6);
  @extend .col-md-pull-6;
  padding: $space-sm $space-xs;
  font-size: 14px;
  color: $color-text-secondary;
  text-align: center;
  line-height: 1.4em;
  border-bottom: $dropdown-border;
  @include respond-from("screen-md") {
    text-align: left;
    padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width 0;
    border: none;
  }
}


.checkout__payment__credit-card-fields-help-toggle {
  display: block;
  color: $color-text-highlight;
  position: absolute;
  right: $input-padding-right;
  top: 15px;
}
.checkout__payment__credit-card-fields-help-toggle:hover {
  cursor: pointer;
}


// -------------------------- CHECKOUT PAYMENT END --------------------------
