/*
* error-page declarations
*/

.error-page {
  background-color: $color-bg-secondary;
}

.error-page__blocks-wrapper {
  @include respond-from("screen-md") {
    @include fluid-container();
  }
}

.error-page__blocks {
  @include respond-from("screen-md") {
    @include make-row();
  }
}

.error-page__block {
  @include make-xs-column(12);
  margin-top:  $header-height-extra-small;
  text-align: center;
  line-height: normal;
  @include respond-from("screen-sm") {
    margin-top: $header-height-small;
  }
}


.error-page__block__error-code {
  color: $color-bg-secondary;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}
.error-page__block__error-code--shadowed-static {
  text-shadow: rgba(100, 100, 0, 0.0470588) 0px 0px 1px,
  rgba(100, 100, 0, 0.0470588) -3px -3px 3px,
  rgba(100, 100, 0, 0.0470588) -9px -8px 6px,
  rgba(100, 100, 0, 0.0470588) -18px -16px 10px,
  rgba(100, 100, 0, 0.0470588) -30px -27px 15px,
  rgba(100, 100, 0, 0.0470588) -45px -41px 21px;
  font-size: 8.2em;
  @include respond-from("screen-sm") {
    display: none;
  }
}
.error-page__blocks--general .error-page__block__error-code--shadowed-static {
  font-size: 4em;
}
.error-page__block__error-code--shadowed-dynamic {
  font-size: 14em;
  @include appear-from("screen-sm");
}
.error-page__blocks--general .error-page__block__error-code--shadowed-dynamic {
   @include respond-from("screen-sm") {
     font-size: 6em;
   }
   @include respond-from("screen-md") {
     font-size: 7.4em;
   }
   @include respond-from("screen-lg") {
     font-size: 9em;
   }
 }


.error-page__block__error-title {
  font-family: $satisfy-font-family;
  color: $color-text-highlight;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  line-height: normal;
  @include respond-from("screen-sm") {
    font-size: 1.7em;
  }
}


.error-page__block__error-message {
  font-family: $base-font-family;
  font-size: 0.9em;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding-bottom: 60px;
  @include respond-from("screen-sm") {
    font-size: 1.15em;
  }
}
.error-page__blocks--general .error-page__block__error-message {
  width: 80%;
  margin: 0 auto;
  @include respond-from("screen-sm") {
    width: 60%;
  }
}
