/*
* homepage declarations
*/

.home-section {
  margin-bottom: 70px;
  @include respond-from('screen-sm') {
    margin-bottom: 90px;
  }
  @include respond-from('screen-md') {
    margin-bottom: 110px;
  }
  @include respond-from('screen-lg') {
    margin-bottom: 130px;
  }
}

// -------------------------- TITLES START --------------------------

.titles {
  @include make-row();
  margin-bottom: 10px;
}

.titles__title {
  @include make-xs-column(12);
  font-size: 1.2em;
  line-height: 1em;
  padding-bottom: 5px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-family: $satisfy-font-family;
  color: $color-text-highlight;
  @include respond-from('screen-sm') {
    font-size: 1.5em;
  }
  @include respond-from('screen-md') {
    font-size: 1.8em;
  }
  @include respond-from('screen-lg') {
    font-size: 2.1em;
  }
}

.titles__subtitle {
  @include make-xs-column(12);
  font-size: 1.4em;
  line-height: 1em;
  text-align: center;
  color: $color-text-primary;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 10%;
  @include respond-from('screen-sm') {
    font-size: 2em;
  }
  @include respond-from('screen-md') {
    font-size: 2.3em;
  }
  @include respond-from('screen-lg') {
    font-size: 2.6em;
  }
}

// -------------------------- TITLES END --------------------------

// -------------------------- TEASER START --------------------------

.teaser__home-section {
  margin-bottom: 10px;
  @include respond-from('screen-sm') {
    margin-bottom: 20px;
  }
  @include respond-from('screen-md') {
    margin-bottom: 30px;
  }
  @include respond-from('screen-lg') {
    margin-bottom: 40px;
  }
}

.teaser {
  @include make-row();
  background-color: $color-text-primary;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.teaser__slogan {
  @include make-xs-column(12, 0);
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 90px;
  padding-left: 5%;
  padding-right: 5%;
  @include respond-from('screen-sm') {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include respond-from('screen-md') {
    padding-left: 17%;
    padding-right: 17%;
  }
  @include respond-from('screen-lg') {
    padding-left: 25%;
    padding-right: 25%;
  }
}

.teaser__slogan__h2 {
  font-family: $base-font-family;
  line-height: 1.2em;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 10%;
  @include respond-from('screen-sm') {
    font-size: 1.8em;
  }
  @include respond-from('screen-md') {
    font-size: 2.3em;
  }
  @include respond-from('screen-lg') {
    font-size: 2.6em;
  }
}

.teaser__white-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: auto 100%;
}

.teaser__form {
  @include make-xs-column(12, 0);
  text-align: center;
}

.teaser__form__input {
  width: 70%;
  margin-bottom: $space-sm;
  @include respond-from('screen-sm') {
    margin-right: $space-xs;
    width: 280px;
    bottom: 8%;
  }
}

.teaser__button {
  width: 70%;
  @include respond-from('screen-sm') {
    width: auto;
  }
}

.teaser__arrow {
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  color: white;
  bottom: 5%;
  font-size: 1.5em;
  @include respond-from('screen-sm') {
    bottom: 8%;
    font-size: 1.8em;
  }
}

// -------------------------- TEASER END --------------------------

// -------------------------- LOGOS START --------------------------

.restaurants-home {
  @include make-row();
  @include fluid-container();
  padding-top: 40px;
}

.restaurants-home__logos {
  @include make-xs-column(12);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include make-lg-column(12);
  @include make-lg-column-offset(0);
}

.restaurants-home__logos__logo {
  @include make-xs-column(6);
  @include make-md-column(4);
  @include make-lg-column(2);
}

.restaurants-home__logos__logo img {
  @extend .img-responsive;
  @extend .center-block;
}

// -------------------------- LOGOS END --------------------------

// -------------------------- STATS START --------------------------

.stats {
  background-color: $color-bg-secondary;
  overflow: visible;
  margin-top: 50px;
  @include respond-from('screen-md') {
    margin-top: 75px;
  }
}

.stats__container {
  @include make-row();
  @include fluid-container();
}

.stats__content {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-md-column(8);
  @include make-md-column-offset(2);
  overflow: visible;
}

.stats__numbers {
  position: absolute;
  top: -12%;
  padding-top: 17%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  @include respond-from('screen-md') {
    top: -10%;
    padding-top: 15%;
  }
}

.stats__numbers__first {
  @include make-xs-column(2, 0);
  @include make-xs-column-offset(4);
  @include aspect-ratio(260, 358);
  overflow: hidden;
}

.stats__numbers__second {
  @include make-xs-column(2, 0);
  @include aspect-ratio(260, 358);
  overflow: hidden;
}

.stats__comment {
  @include make-xs-column(12);
  @extend .text-center;
  @extend .h2;
  padding-left:12%;
  padding-right:12%;
  font-family: $base-font-family;
  line-height: 1em;
  font-size: 1em;
  @include respond-from('screen-md') {
    line-height: 1.3em;
    font-size: 2em;
  }
}

.stats__comment__minutes {
  @include make-xs-column(2, 0);
  @include make-xs-column-offset(6);
  @extend .text-right;
  padding: $space-xs 2px 0;
  line-height: 0.6em;
  font-size: 0.6em;
  @include respond-from('screen-md') {
    line-height: 1em;
    font-size: 1em;
  }
}

.stats__fork-knife {
  @extend .img-responsive;
  @extend .center-block;
  position: relative;
  top: -30px;
}

.stats__dish {
  position: absolute;
  left: 0;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

// -------------------------- STATS END --------------------------

// -------------------------- CITIES START --------------------------

.cities {
  @include make-row();
  @include fluid-container();
  padding-top: 20px;
  @include respond-from('screen-sm') {
    padding-top: 60px;
  }
}

.cities__container {
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
}

.city {
  @include make-xs-column(12);
  @include make-md-column(6);
  padding-bottom: $grid-gutter-width;
}

.city__container {
  @include aspect-ratio(112, 46);
  display: block;
  perspective: 800px;
  font-family: $cta-font-family;
}

.city__name {
  @include vertical-center-element-absolute;
  z-index: 2;
  width: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 0.9em;
  @include respond-from('screen-sm') {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}

.city__called-action {
  margin-top: $space-xs;
  display: none;
  font-size: 0.8em;
  line-height: 0.8em;
  font-family: $base-font-family;
  @include respond-from('screen-sm') {
    font-size: 0.6em;
    line-height: 0.6em;
  }
}


// -------------------------- CITIES END --------------------------
