/*
* restaurant-page declarations
*/

.menu--fluid-container {
  @include respond-from("screen-md") {
    @include fluid-container();
  }
}

.menu-wrapper--row {
  @include respond-from("screen-md") {
    @include make-row();
  }
}

.menu_items, .menu_categories {
  background-color: $color-bg-primary;
}

.menu-bg {
  background: $color-bg-secondary;
}

.bg-wrapper--column{
  background: $color-bg-primary;
  @include respond-from("screen-md") {
    @include make-md-column(8);
    @include make-lg-column(9);
  }
}

.bg-wrapper--row {
  @include respond-from("screen-md") {
    @include make-row();
  }
}


//menu
.menu {
  background: $color-bg-primary;
}

.menu--column {
  @include respond-from("screen-md") {
    @include make-md-column(12);
    @include make-lg-column(9);
  }
}

.menu__category-name {
  font-family: $bold-font-family;
  font-size: 0.750em;
  font-weight: bold;
  @extend .text-center;
  border-bottom: $base-border;
  padding-bottom: $space-sm;
  margin-bottom: 0;
  text-transform: uppercase;
  @include respond-from("screen-md") {
    font-size: 0.875em;
  }
}

.menu__product-wrapper {
  @include clearfix;
  border-bottom: $base-border;
  line-height: 1.3em;
  font-size: 0.813em;
  padding: $space-sm 0;
  @include respond-from("screen-md") {
    line-height: 1.4em;
    font-size: 0.875em;
  }
}

.menu__product-name--column {
  @include make-xs-column(8);
}

.menu__product-price {
  @extend .text-right;
}

.menu__product-price--column {
  @include make-xs-column(4);
}

.menu__product-description {
  color: $color-text-secondary;
}

.menu__product-description--column {
  @include make-xs-column(12);
}

//category
.menu-categories {
  background: $color-bg-primary;
}

.menu-categories--column {
  @include appear-from("screen-lg");
  @include make-lg-column(3);
}

.menu-categories__nav {
  padding-top: 37px;
}

.menu-categories__nav a {
  color: $color-text-primary;
}

//cart
.menu-cart--column {
  @include appear-from("screen-md");
  @include make-md-column(4);
  @include make-lg-column(3);
}

.delivery-time--row {
  @include make-row();
}

.delivery-time__column {
  @include make-xs-column(6);
}

.delivery-time__column select {
  width: 100%;
}

.menu-cart__headline {
  font-family: $bold-font-family;
  font-size: 0.750em;
  font-weight: bold;
  @extend .text-center;
  text-transform: uppercase;
  @include respond-from("screen-md") {
    font-size: 0.875em;
  }
}

.order {
  margin-top: $space-lg;
}
.order__empty-message {
  @extend .text-center;
  color: $color-text-secondary;
}
