/*
* profile-page declarations
*/

.profile__blocks-wrapper {
  margin-top:  $header-height-small;
  padding-bottom: 0;
  @include respond-from("screen-md") {
    @include fluid-container();
    padding-bottom: $top-cart-height / 2;
  }
}
.show-banner .profile__blocks-wrapper {
  margin-top: $header-height-small + $banner-height;
}


.profile__blocks {
  @include respond-from("screen-md") {
    @include make-row();
    margin-top: 0;
  }
}
.profile__blocks .checkout__step__item-content {
  border: none;
}

.profile__blocks .checkout__step__item-form-group--newsletter {
  display: none;
}


.profile__block {
  @include make-md-column(6);
  @extend .col-md-push-3;
  @extend .clearfix;
  clear: both;
  padding: 0 0 20px 0;
  background-color: $color-bg-primary;
  @include respond-from("screen-md") {
    margin-bottom: $space-sm;
    border-radius: $border-radius-default;
  }
}
.profile__block:first-child {
  @include respond-from("screen-md") {
    margin-top: $space-lg;
  }
}
.profile__block--list {
  @include respond-from("screen-md") {
    padding-bottom: $space-sm;
  }
}


.profile__block__title {
  background-color: $color-bg-primary;
  font-family: $bold-font-family;
  font-size: $font-size-1_4rem;
  padding: $space-sm;
  margin: 0;
  margin-bottom: $space-lg;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  border-bottom: $dropdown-border;
}
.profile__block--list .profile__block__title {
  margin-bottom: 0;
}

.profile__block__content {
  @extend .checkout__step__item-content;
}


.profile__saved-address {
  padding: $space-xs 0;
}
.profile__saved-address:first-child {
  margin-top: 15px;
}


.profile__saved-address__line {
  display: block;
}
.profile__saved-address__line--notes {
  color: $color-text-light;
}
