/*
* vendor-listing-page declarations
*/

.restaurants .hero-banner-content {
  @include appear-from("screen-md");
}


.restaurants-container {
  position: relative;
}
.show-banner .restaurants-container {
  top: 50px;
  @include respond-from("screen-md") {
    top: 0;
  }
}

// -------------------------- RESTAURANTS TOOLS START --------------------------


.restaurants__tool-box {
  @include make-row(0);
  margin: 0;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 $space-sm;
  @include respond-from("screen-sm") {
    padding: 0 $space-lg;
  }
}
.restaurants__tool-box.restaurants__tool-box--sticking {
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 70%;
  margin: auto;
  @include respond-from("screen-md") {
    width: 100%;
    top: 10px;
    position: absolute;
    z-index: 1;
  }
}

.restaurants__search-filter-wrapper {
  position: absolute;
  width: 100%;
  padding-right: $space-lg;
  @include respond-from("screen-sm") {
    padding-right: 40px;
  }
  @include respond-from("screen-md") {
    padding-right: 0;
    width: 60%;
    position: relative;
    float: left;
  }
}
.restaurants__tool-box--sticking .restaurants__search-filter-wrapper {
  display: none;
  @include respond-from("screen-md") {
    display: block;
  }
}


.restaurants__search {
  position: relative;
  cursor: pointer;
  float: left;
  width: 13%;
  left: 2%;
  @include transition(width .4s ease);
  @include respond-from("screen-md") {
    width: 25%;
  }
}
.active-search .restaurants__search {
    width: 85%;
  @include respond-from("screen-md") {
    width: 75%;
  }
  @include transition(width .4s ease);
}


.restaurants__search__label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: $font-size-1_4rem;
  white-space: nowrap;
}
.active-search .restaurants__search__label {
  left: 10px;
  text-align: left;
  width: auto;
}


.restaurants__search__label-icon {
  line-height: 40px;
  font-weight: bold;
}


.restaurants__search__label-text {
  display: none;
  @include respond-from("screen-md") {
    display: inline-block;
  }
}
.active-search .restaurants__search__label-text {
  display: none;
}


.restaurants__search__cancel-icon {
  display: none;
  position: absolute;
  right: 10px;
  line-height: 40px;
  z-index: 1;
}
.active-search .restaurants__search__cancel-icon {
  display: block;
}

.restaurants__search__input {
  height: 40px;
  &::-ms-clear { opacity: 0; }
  &:-moz-placeholder { opacity: 0; }
  &::-moz-placeholder { opacity: 0; }
  &:-ms-input-placeholder { text-indent: -9999px; }
  &::-webkit-input-placeholder  { opacity: 0; }
}
.active-search .restaurants__search__input {
  padding-left: 30px;
  &:-moz-placeholder { opacity: 1; }
  &::-moz-placeholder { opacity: 1; }
  &:-ms-input-placeholder { text-indent: 0; }
  &::-webkit-input-placeholder  { opacity: 1; }
}

.restaurants__filter {
  width: 13%;
  position: relative;
  cursor: pointer;
  height: 40px;
  border: $input-border;
  border-radius: $border-radius-default;
  float: left;
  @include transition(width .4s ease);

  @include respond-from("screen-md") {
    width: 25%;
  }
}

.restaurants__filter--active {
  color: $color-text-highlight;
  border-color: $color-text-highlight;
}

.restaurants__filter__label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: $font-size-1_4rem;
  white-space: nowrap;
}

.restaurants__filter__label-icon {
  line-height: 40px;
}

.restaurants__filter__label-text {
  display: none;
  @include respond-from("screen-md") {
    display: inline-block;
  }
}

.restaurants__filter-tooltip.tooltip {
  width: 100%;
  top: 52px;
  height: 100%;
  @include respond-from("screen-sm") {
    width: 350px;
    height: auto;
    left: 20px !important;
  }
  @include respond-from("screen-lg") {
    width: 30%;
  }
}

.restaurants__filter-tooltip.tooltip.in {
  opacity: 1;
}

.restaurants__filter-tooltip .tooltip-inner {
  max-width: initial;
  border-left: none;
  border-right: none;
  text-align: left;
  padding-right: $space-lg;
  height: 100%;
  @include respond-from("screen-sm") {
    border: 1px solid #c8c8c8;
    height: auto;
  }
}

.restaurants__filter-tooltip .tooltip-inner--white-with-border:after {
  left: 6%;
  @include respond-from("screen-md") {
    left: 8%;
  }
}

.restaurants__filter-form-border-top {
  border-top: $base-border;
  margin-top: $space-md;
  padding-top: $space-md;
}

.restaurants__filter-form-group {
  width: 50%;
  float: left;
  clear: none;
  margin-bottom: $space-sm;
}

.restaurants__filter-form__head-line {
  text-transform: uppercase;
  margin-bottom: $space-sm;
  float: left;
}

.restaurants__filter-form__head-cancel-cuisines,
.restaurants__filter-form__head-cancel-food-characteristics {
  float: right;
  @include make-link();
  margin-left: $space-sm;
}

.restaurants__filter-form__head-show-all,
.restaurants__filter-form__head-show-less {
  float: right;
  @include make-link();
  cursor: pointer;
}

.restaurants__location {
  position: absolute;
  right: 10px;
  width: 66%;
  @include respond-from("screen-sm") {
    right: 20px;
    width: 64%;
  }
  @include respond-from("screen-md") {
    width: 35%;
  }
}
.restaurants__tool-box--sticking .restaurants__location {
  float: none;
  text-align: center;
  width: 100%;
  @include respond-from("screen-md") {
    width: 50%;
    float: right;
    text-align: right;
  }
}
.active-search .restaurants__location {
  z-index: -1;
}


.restaurants__location__form {
  display: none;
  position: relative;
}
.active-location-form .restaurants__location__form {
  display: block;
}

.restaurants__location__title {
  text-align: right;
  height: 44px;
  line-height: 44px;
  white-space: nowrap;
  display: block;
  @include respond-from("screen-md") {
    text-align: right;
  }
}
.restaurants__tool-box--sticking .restaurants__location__title {
  @include centerTextVerticallyByHeight($header-height-extra-small);
  text-align: center;
  @include respond-from("screen-md") {
    text-align: right;
  }
}
.show-banner .restaurants__tool-box--sticking .restaurants__location__title {
  margin-top: $banner-height;
  @include respond-from("screen-md") {
    margin-top: 0;
  }
}
.active-location-form .restaurants__location__title {
  display: none;
}

.restaurants__location__change-button {
  font-size: $restaurant-font-size;
  display: inline-block;
  text-align: center;
  margin-left: $space-xs;
  width: auto;
  overflow: auto;
}
.restaurants__tool-box--sticking .restaurants__location__change-button {
  margin-left: 0;
  width: 15px;
  @include respond-from("screen-md") {
    margin-left: $space-xs;
    width: auto;
  }
}

.restaurants__location__cancel-icon {
  position: absolute;
  right: 10px;
  line-height: 40px;
  cursor: pointer;
  z-index: 1;
}
.restaurants__tool-box--sticking .restaurants__location__cancel-icon {
  line-height: 30px;
}

.restaurants__change-button__text {
  display: inline;
}
.restaurants__tool-box--sticking .restaurants__change-button__text {
  display: none;
  @include respond-from("screen-md") {
    display: inline;
  }
}


.restaurants__search-bar {
  @extend .clearfix;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 $space-sm;
  text-align: center;
}
.sticking-on-top .restaurants__search-bar {
  bottom: inherit;
  z-index: 999;
}


.restaurants__search-bar__message {
  position: relative;
  top: 7px;
  vertical-align: super;
  color: $color-text-selection;
  margin-right: $space-xs;
  @include respond-from("screen-md") {
    display: inline;
  }
}

.restaurants__search-bar__form {
  @extend .clearfix;
  @include respond-from("screen-sm") {
    vertical-align: middle;
  }
  @include respond-from("screen-md") {
    display: inline-block;
  }
}


.restaurants__change-button__arrow {
  display: none;
  line-height: $form-element-height-default;
  margin: 0;
}
.restaurants__tool-box--sticking .restaurants__change-button__arrow {
  display: inline;
  @include respond-from("screen-md") {
    display: none;
  }
}


.restaurants__location__address {
  font-size: $restaurant-font-size;
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  @include respond-from("screen-md") {
    max-width: 80%;
  }
}
.restaurants__tool-box--sticking .restaurants__location__address {
  vertical-align: top;
}
.restaurants__location__address .restaurants__tool-box--sticking {
  max-width: 90%;
  @include respond-from("screen-md") {
    max-width: 70%;
  }
}


.restaurants__tool-box--sticking .restaurants__location__input {
  margin-top: 8px;
  font-size: $font-size-1_4rem;
  @include centerTextVerticallyByHeight(30px);
  padding-top: 0;
  padding-bottom: 0;
}
.restaurants__tool-box--sticking .restaurants__location__input .restaurants__search__input {
  margin-top: 8px;
}
.show-banner .restaurants__tool-box--sticking .restaurants__location__input {
  margin-top: $banner-height + 8px;
}

.restaurants__location__input {
  height: 40px;
  &::-ms-clear { opacity: 0; }
}
// -------------------------- RESTAURANTS TOOLS END --------------------------


// -------------------------- RESTAURANTS LIST START --------------------------

.restaurants__list {
  @include make-row(0);
  margin: 0;
  padding-top: 65px;
  @include transition(padding .3s ease);
}
.show-mobile-search + .restaurants__list {
  padding-top: 118px;
}


.restaurants__list--closed {
  padding-top: 0;
}
.restaurants--no-address .restaurants__list {
  padding-top: 65px;
  @include respond-from("screen-md") {
    padding-top: $grid-gutter-width;
  }
}

.restaurants__list__item {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(4);
  @include make-lg-column(3);
  @include set-no-gutter();
  text-align: left;
  @include respond-from("screen-sm") {
    @include set-default-gutter();
    text-align: center;
  }
}

.restaurants__list__item-wrapper {
  overflow: hidden;
  margin-bottom: $space-lg;
  position: relative;
  @include transition(all 0.1s ease-out);
  @include respond-from("screen-sm") {
    padding-bottom: 12px;
    border-radius: $border-radius-default;
    background-color: $restaurant-bg-color;
    box-shadow: $restaurant-box-shadow;
    top: 0;
    margin-bottom: $grid-gutter-width;
  }
}
.restaurants__list__item-wrapper:hover {
  @include respond-from("screen-sm") {
    box-shadow: $restaurant-box-shadow-hover;
    top: -5px;
    cursor: pointer;
    border-top: none;
  }
}


.restaurants__list__item-image-wrapper {
  height: 150px;
  overflow: hidden;
  position: relative;
  @include respond-from("screen-sm") {
    height: auto;
  }
}
.restaurants__list--closed .restaurants__list__item-image-wrapper {
  background-color: #000;
  z-index: 0;
}


.restaurants__list__item-image.aspect-ratio-100-52 {
  background-size: 100% 100%;
}
.restaurants__list__item-image {
    @include responsive-img();
}
.restaurants__list--closed .restaurants__list__item-image {
  opacity: 0.5;
  z-index: 0;
}


.restaurants__list__item-name {
  font-size: $restaurant-font-size;
  font-weight: bold;
  color: $color-text-highlight;
  text-transform: uppercase;
  margin: $space-sm 0 0;
  @include set-default-gutter();
  height: 15px;
  line-height: 1.1;
  @include text-overflow();
  @include respond-from("screen-sm") {
    height: 20px;
    line-height: 1.43;
  }
}

.restaurants__list__item-description {
  font-size: $restaurant-font-size;
  margin: 0;
  width: 57%;
  float: left;
  height: 20px;
  color: $color-text-secondary;
  line-height: 1.6;
  @include text-overflow();
  @include set-default-gutter();
  @include respond-from("screen-sm") {
    width: auto;
    float: none;
  }
}

.restaurants__list__item-preorder {
  display: none;
}

.restaurants__list--closed .restaurants__list__item-preorder {
  width: 100%;
  text-align: center;
  position: absolute;
  color: $color-text-selection;
  z-index: 1;
  display: block;
  @include vertical-center-absolute();
}


.restaurants__list__item-preorder-icon {
  margin: 0 auto $space-sm;
  display: inline-block;
  font-size: 2.7rem;
}

.restaurants__list__item-preorder-label {
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 90%;
  margin: 0 auto;
}


.restaurants__list__item-time {
  display: none;
}
.restaurants__list--closed .restaurants__list__item-time {
  display: block;
  @include text-overflow();
  @include set-default-gutter();
  font-size: $restaurant-font-size;
  margin: 0;
  height: 20px;
  color: $color-text-secondary;
  float: right;
  @include respond-from("screen-sm") {
    float: none;
    line-height: 1.83;
  }
}


// -------------------------- RESTAURANTS ITEM END --------------------------


// -------------------------- RESTAURANTS NOT AVAILABLE MESSAGE START --------------------------

.restaurants__no-result-message {
  @extend .restaurants__list;
  text-align: center;
  padding-top: 100px;
}

.restaurants__search__not-found-message  {
  padding-top: 50px;
}

.restaurants__not-available-message__title {
  font-family: $satisfy-font-family;
  color: $color-text-highlight;
  font-size: $font-size-2_4rem;
  font-weight: normal;
  margin: 0;
  line-height: normal;
  @include respond-from("screen-sm") {
    font-size: $font-size-2_8rem;
  }
}

.restaurants__not-available-message__text {
  font-family: $base-font-family;
  font-size: $font-size-1_4rem;
  font-weight: normal;
  line-height: normal;
  padding-bottom: 60px;
  width: 86%;
  margin: 0 auto;
  @include respond-from("screen-sm") {
    font-size: $font-size-1_6rem;
    width: 60%;
  }
}

// -------------------------- RESTAURANTS NOT AVAILABLE MESSAGE START --------------------------


// -------------------------- RESTAURANTS CITY INFO START --------------------------

.restaurants__city-bottom-info {
  @extend .clearfix;
  font-size: $font-size-1_4rem;
  padding-top: $space-lg;
  @include respond-from("screen-md") {
    @include make-row(0);
  }
}

.restaurants__city-bottom-info__description {
  @include make-xs-column(12);
}

// Style is used in CMS. Never change or delete the corresponding css selector
.restaurants__city-bottom-info__description h3,
.restaurants__city-bottom-info__description .h3 {
  margin: 0;
  font-family: $bold-font-family;
  text-transform: uppercase;
  font-size: $font-size-1_4rem;
  @extend .text-center;
}

// -------------------------- RESTAURANTS CITY INFO START --------------------------
