<div class="footer__wrapper__bottom">
    <div class="footer__popular">
        <h4>{% trans %}popular_cuisines{% endtrans %}</h4>
        <p>
            <a href="#">Cake delivery Taipei</a>,
            <a href="#">Japanese Food Taipei</a>,
            <a href="#">Afternoon Tea Taipei</a>,
            <a href="#">Vegetarian Food Taipei</a>,
            <a href="#">Pizza Taipei</a>,
            <a href="#">Business Lunch Taipei</a>,
            <a href="#">Pasta</a>,
            <a href="#">Steak</a>,
            <a href="#">Brunch</a>,
            <a href="#">Sushi</a>
        </p>
    </div>
    <div class="footer__popular">
        <h4>{% trans %}popular_restaurants{% endtrans %}</h4>
        <p>
            <a href="#">Chili's Grill& Bar</a>,
            <a href="#">T.G.I. Friday's</a>,
            <a href="#">Macho Tacos</a>,
            <a href="#">Second Floor</a>,
            <a href="#">Сalifornia Pizza Kitchen</a>,
            <a href="#">A-plus</a>,
            <a href="#">Mister Donut</a>,
            <a href="#">Toasteria Cafe</a>,
            <a href="#">VAPIANO</a>,
            <a href="#">TKK</a>,
            <a href="#">1Bite2Go</a>,
            <a href="#">Alleycat's</a>,
            <a href="#">BELLINI Pasta Pasta</a>,
            <a href="#">Hi!Sushi</a>,
            <a href="#">Cold Stone</a>,
            <a href="#">Outback</a>,
            <a href="#">Sweet Dynasty</a>
        </p>
    </div>
    <div class="footer__popular">
        <h4>{% trans %}countries{% endtrans %}</h4>
        <p>
            <a href="#">Taipei City</a> -
            <a href="#">New Taipei City</a> -
            <a href="#">Keelung City</a> -
            <a href="#">Taoyuan County</a> -
            <a href="#">Hsinchu County</a> -
            <a href="#">Hsinchu City</a> -
            <a href="#"> Miaoli County</a> -
            <a href="#">Taichung City</a> -
            <a href="#">Changhua County</a> -
            <a href="#">Yunlin County</a> -
            <a href="#">Nantou County</a> -
            <a href="#">Chiayi City</a>
        </p>
    </div>
</div>
