<div class="footer__wrapper__middle">
    <nav class="footer__nav">
        <ul>
            <li><a href="#">{% trans %}terms_and_conditions{% endtrans %}</a></li>
            <li><a href="#">{% trans %}privacy_policy{% endtrans %}</a></li>
            <li><a href="#">{% trans %}imprint{% endtrans %}</a></li>
            <li><a href="#">{% trans %}faq{% endtrans %}</a></li>
            <li><a href="#">{% trans %}for_restaurant_drivers{% endtrans %}</a></li>
        </ul>
    </nav>
    <div class="footer__disclaimer">{% trans %}disclamer{% endtrans %}</div>
</div>
