<div class="footer__wrapper__top">
    <div class="footer__subscribe">
        <div class="footer__subscribe__txt">
            <p>{% trans %}footer_subscribe_text{% endtrans %}  <b>{% trans %}get_weekly_email{% endtrans %}</b></p>
        </div>
        <div class="footer__subscribe__city">
            <input type="text" class="form-control" id="subscribe_city" name="subscribe_city" value="" required="true" placeholder="{% trans %}form.placeholder.subscribe_city{% endtrans %}">
        </div>
        <div class="footer__subscribe__email">
            <input type="text" class="form-control" id="subscribe_email" name="subscribe_email" value="" required="true" placeholder="{% trans %}form.placeholder.email_address{% endtrans %}">
        </div>
        <div class="footer__subscribe__button">
            <button class="button">{% trans %}button.signup_now{% endtrans %}</button>
        </div>
    </div>
    <div class="footer__logo">
        <i class="icon-logo"></i>
    </div>
    <div class="footer__social">
        <a><i class="icon-facebook-circled"></i></a>
        <a><i class="icon-twitter-circled"></i></a>
        <a><i class="icon-instagram-circled"></i></a>
    </div>
</div>
