<div class="footer__wrapper__bottom">
    <div class="footer__popular">
        <h4>{% trans %}popular_cuisines{% endtrans %}</h4>
        <p>
            <a>Cake delivery Taipei</a>,
            <a>Japanese Food Taipei</a>,
            <a>Afternoon Tea Taipei</a>,
            <a>Vegetarian Food Taipei</a>,
            <a>Pizza Taipei</a>,
            <a>Business Lunch Taipei</a>,
            <a>Pasta</a>,
            <a>Steak</a>,
            <a>Brunch</a>,
            <a>Sushi</a>
        </p>
    </div>
    <div class="footer__popular">
        <h4>{% trans %}popular_restaurants{% endtrans %}</h4>
        <p>
            <a>Chili's Grill& Bar</a>,
            <a>T.G.I. Friday's</a>,
            <a>Macho Tacos</a>,
            <a>Second Floor</a>,
            <a>Сalifornia Pizza Kitchen</a>,
            <a>A-plus</a>,
            <a>Mister Donut</a>,
            <a>Toasteria Cafe</a>,
            <a>VAPIANO</a>,
            <a>TKK</a>,
            <a>1Bite2Go</a>,
            <a>Alleycat's</a>,
            <a>BELLINI Pasta Pasta</a>,
            <a>Hi!Sushi</a>,
            <a>Cold Stone</a>,
            <a>Outback</a>,
            <a>Sweet Dynasty</a>
        </p>
    </div>
    <div class="footer__popular">
        <h4>{% trans %}countries{% endtrans %}</h4>
        <p>
            <a>Taipei City</a> -
            <a>New Taipei City</a> -
            <a>Keelung City</a> -
            <a>Taoyuan County</a> -
            <a>Hsinchu County</a> -
            <a>Hsinchu City</a> -
            <a> Miaoli County</a> -
            <a>Taichung City</a> -
            <a>Changhua County</a> -
            <a>Yunlin County</a> -
            <a>Nantou County</a> -
            <a>Chiayi City</a>
        </p>
    </div>
</div>
