# This file is a "template" of what your parameters.yml file should look like
parameters:
    country_code: de
    environment: development

    locale: de
    secret: ThisTokenIsNotSoSecretChangeIt

    # 'guzzle.ring.client.curl_handler' or 'guzzle.ring.client.mock_handler'
    foodpanda.api.handler: guzzle.ring.client.curl_handler
    foodpanda.api.base_url: 'http://front.fp/api/v4'
    foodpanda.api.client_id: HTML5
    foodpanda.api.client_secret: ThisTokenIsNotSoSecretChangeIt

    foodpanda_web_translate_it_base_url: 'https://webtranslateit.com'
    foodpanda_web_translate_it_public_api_key: 3K--aY26LoDVtJGL1mk-1Q
    foodpanda_web_translate_it_private_api_key: q0fqpiQyalsumAPeA5zEvw
    foodpanda_web_translate_it_main_translation_label: ~
