@import '../bootstrap/bootstrap';
@import '../../dist/sass/countries/au/sprite-common';


// ----------------------- COUNTRY VARIABLES OVERRIDE START --------------------------

$base-cta-color: #da1a32;
$base-cta-hover-color: #c2172e;

$cta-pressed-box-shadow: #742525;
$color-bg-secondary: #f2eee5;
$color-icons-separator: #b9a36e;

$numbers-image-url: '../../img/numbers/numbers-sprite-au.jpg';

// ----------------------- COUNTRY VARIABLES OVERRIDE END ----------------------------


@import '../variables';
@import "../shop";


// ----------------------- COUNTRY STYLES OVERRIDE START --------------------------


.icon-logo {
  &:before {
    content: "\e61f" !important;
  }
}

@import './partial/cart-time-picker-two-lines';

// ----------------------- COUNTRY STYLES OVERRIDE END ----------------------------
