@import '../bootstrap/bootstrap';
@import '../../dist/sass/countries/se/sprite-common';


// ----------------------- COUNTRY VARIABLES OVERRIDE START --------------------------

// ----------------------- COUNTRY VARIABLES OVERRIDE END ----------------------------


@import '../variables';
@import "../shop";


// ----------------------- COUNTRY STYLES OVERRIDE START --------------------------

.icon-logo:before {
  content: "\e61c" !important;
}


.header__logo {
  margin-top: 11px;
  @include respond-from("screen-md") {
    margin-top: 16px;
  }
  @include respond-from("screen-lg") {
    margin-top: 20px;
  }
}
.header--white .header__logo {
  margin-top: 11px;
  @include respond-from("screen-md") {
    margin-top: 16px;
  }
  @include respond-from("screen-lg") {
    margin-top: 16px;
  }
}


.header__logo__a {
  padding-top: 1px;
}

.header__logo__a  i {
  font-size: 2.3rem;
  @include respond-from("screen-md") {
    font-size: 2.5rem;
  }
  @include respond-from("screen-lg") {
    font-size: 3.1rem;
  }
}


// ----------------------- COUNTRY STYLES OVERRIDE END ----------------------------
