{% block footer %}
    <footer class="footer">
        <div class="footer__wrapper">
            <div class="footer__subscribe">
                <div class="footer__subscribe__txt">
                    <p>{% trans %}Want coupons, love notes, deep thoughts about bacon?{% endtrans %}  <b>{% trans %}Get our weekly email{% endtrans %}</b></p>
                </div>
                <div class="footer__subscribe__city">
                    <input type="text" class="form-control" id="subscribe_city" name="subscribe_city" value="" required="true" placeholder="{% trans %}City{% endtrans %}">
                </div>
                <div class="footer__subscribe__email">
                    <input type="text" class="form-control" id="subscribe_email" name="subscribe_email" value="" required="true" placeholder="{% trans %}Email Address{% endtrans %}">
                </div>
                <div class="footer__subscribe__button">
                    <button class="button">{% trans %}Signup now{% endtrans %}</button>
                </div>
            </div>
            <div class="footer__logo">
                <i class="icon-logo"></i>
            </div>
            <div class="footer__social">
                <a href="#"><i class="icon-facebook-circled"></i></a>
                <a href="#"><i class="icon-twitter-circled"></i></a>
                <a href="#"><i class="icon-instagram-circled"></i></a>
            </div>
        </div>
        <div class="footer__wrapper">
            <nav class="footer__nav">
                <ul>
                    <li><a href="#">{% trans %}Terms &amp; Conditions{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Privacy Policy{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Imprint{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}FAQ{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}For Restaurants &amp; Drivers{% endtrans %}</a></li>
                </ul>
            </nav>
            <div class="footer__disclaimer">{% trans %}&copy; 2015 – foodora GmbH{% endtrans %}</div>
        </div>
        <div class="footer__wrapper">
            <div class="footer__popular">
                <h4>{% trans %}Popular cuisines{% endtrans %}</h4>
                <p>
                    <a href="#">Cake delivery Taipei</a>,
                    <a href="#">Japanese Food Taipei</a>,
                    <a href="#">Afternoon Tea Taipei</a>,
                    <a href="#">Vegetarian Food Taipei</a>,
                    <a href="#">Pizza Taipei</a>,
                    <a href="#">Business Lunch Taipei</a>,
                    <a href="#">Pasta</a>,
                    <a href="#">Steak</a>,
                    <a href="#">Brunch</a>,
                    <a href="#">Sushi</a>
                </p>
            </div>
            <div class="footer__popular">
                <h4>{% trans %}Popular Restaurants{% endtrans %}</h4>
                <p>
                    <a href="#">Chili's Grill& Bar</a>,
                    <a href="#">T.G.I. Friday's</a>,
                    <a href="#">Macho Tacos</a>,
                    <a href="#">Second Floor</a>,
                    <a href="#">Сalifornia Pizza Kitchen</a>,
                    <a href="#">A-plus</a>,
                    <a href="#">Mister Donut</a>,
                    <a href="#">Toasteria Cafe</a>,
                    <a href="#">VAPIANO</a>,
                    <a href="#">TKK</a>,
                    <a href="#">1Bite2Go</a>,
                    <a href="#">Alleycat's</a>,
                    <a href="#">BELLINI Pasta Pasta</a>,
                    <a href="#">Hi!Sushi</a>,
                    <a href="#">Cold Stone</a>,
                    <a href="#">Outback</a>,
                    <a href="#">Sweet Dynasty</a>
                </p>
            </div>
            <div class="footer__popular">
                <h4>{% trans %}Foodora Countries{% endtrans %}</h4>
                <p>
                    <a href="#">Taipei City</a> -
                    <a href="#">New Taipei City</a> -
                    <a href="#">Keelung City</a> -
                    <a href="#">Taoyuan County</a> -
                    <a href="#">Hsinchu County</a> -
                    <a href="#">Hsinchu City</a> -
                    <a href="#"> Miaoli County</a> -
                    <a href="#">Taichung City</a> -
                    <a href="#">Changhua County</a> -
                    <a href="#">Yunlin County</a> -
                    <a href="#">Nantou County</a> -
                    <a href="#">Chiayi City</a>
                </p>
            </div>
        </div>
    </footer>
{% endblock footer %}
