{% block header %}
    <header class="header {% block headerClass %}{% endblock headerClass %}">
        <div class="header__wrapper">
            <a class="header__profile" href="#1"><i class="icon-profile"></i></a>
            <h1 class="header__logo"><a class="header__logo__a" href="{{ path('home') }}">VOLO</a></h1>
            <div class="header__login">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <b>Username: {{ app.security.token.attributes.customer.firstName }}<i class="icon-down-open-big"></i></b>
                    <a href="{{ path('logout') }}">Logout </a>
                {% else %}
                    <a href="{{ path('login') }}">Login<i class="icon-down-open-big"></i></a>
                {% endif %}
            </div>
            <a class="header__cart" href="#"><i class="icon-cart"></i></a>
        </div>
        <div class="header__wrapper__bg"></div>
    </header>
{% endblock header %}
