{% block modals %}
    <div class="modal-dialogs"><!-- here you can define your modals --></div>

    <div class="modal-confirm-below-minimum-amount"></div>

    {% if vendor is defined %}
        <div class="modal fade" id="cartCalculationErrorModal" tabindex="-1" role="dialog"
             aria-labelledby="cartCalculationErrorModalLabel" aria-hidden="true" data-vendor_id="{{ vendor.id }}"
                >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>{% trans %}cart.calculation_error_message{% endtrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button" data-dismiss="modal">
                            {% trans %}button.close{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="login-registration-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="spinner-wrapper"></div>
            <div class="modal-close-button"></div>
        </div>
    </div>

    {% if showVendorPopup is defined and showVendorPopup %}
        <div class="modal fade vendor-popup__modal" tabindex="-1" role="dialog" aria-hidden="true" data-utm-source="{{utmSource}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body clearfix">
                        <div class="home__titles__main-title"
                            data-heimschmecker.at="{% trans %}vendor.popup_title{% endtrans %}"
                            data-urbantaste.de="{% trans %}vendor.popup_urban_taste_title{% endtrans %}">
                        </div>
                        <div class="home__titles__subtitle"
                            data-heimschmecker.at="{% trans %}vendor.popup_text{% endtrans %}"
                            data-urbantaste.de="{% trans %}vendor.popup_urban_taste_text{% endtrans %}">
                        </div>
                    </div>
                </div>
                <div class="modal-close-button close" data-dismiss="modal"></div>
            </div>
        </div>
    {% endif %}

    {% if showUnsubscribePopup|default(false) %}
        <div class="modal modal-alert unsubscribe__modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body clearfix">
                        {% if isUnsubscribed %}
                            {{ cms('homepage-unsubscribed-successfully-popup') }}
                        {% else %}
                            {{ cms('homepage-unsubscribed-not-successfully-popup') }}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-close-button close" data-dismiss="modal"></div>
            </div>
        </div>
    {% endif %}

    <script type="text/template" id="template-login">
        {% render(controller('VoloFrontendBundle:Security:login')) %}
    </script>
    <script type="text/template" id="template-registration">
        {% render(controller('VoloFrontendBundle:Customer:create')) %}
    </script>
    <script type="text/template" id="template-forgot-password">
        {% render(controller('VoloFrontendBundle:Customer:forgotPassword')) %}
    </script>

    {% include('VoloFrontendBundle:Layout/Partial/templates:map_modal.html.twig') %}
{% endblock modals %}
