{% block modals %}
    <div class="modal-dialogs"><!-- here you can define your modals --></div>

    <div class="modal-confirm-below-minimum-amount"></div>

    {% if vendor is defined %}
        <div class="modal fade headline-content-footer-modal modal-error-cart error-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="cartCalculationErrorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <h4 class="modal__h4 text-center"
                        data-default-error-headline="{% trans %}cart.error_modal_headline{% endtrans %}"></h4>
                    <div class="modal-body error-modal__body">
                        <div class="modal-error-cart__error-message"
                           data-default-error-message="{% trans %}cart.calculation_error_message{% endtrans %}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button--full-width button-secondary" data-dismiss="modal">
                            {% trans %}label.continue_with_shopping{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade headline-content-footer-modal modal-payment-error error-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="paymentInvalidItemErrorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <h4 class="modal__h4 text-center"
                        data-default-error-headline="{% trans %}cart.error_modal_headline{% endtrans %}">
                    </h4>
                    <div class="modal-body error-modal__body">
                        <div class="modal-payment-error__invalid-product-list"></div>
                        <p class="modal-payment-error__minimum-amount-message"
                           data-below-minimum-confirm-template="{% trans %}content.confirm_below_minimum_amount{% endtrans %}"
                           data-below-minimum-error-message="{% trans %}content.confirm_below_minimum_amount_forbidden{% endtrans %}">
                        </p>
                    </div>
                    <div class="modal-footer modal-payment-error__loading-footer">
                        <button type="button"
                                class="button button--full-width modal-payment-error__continue-checkout-button"
                                data-dismiss="modal">
                            {% trans %}label.continue_with_checkout{% endtrans %}
                        </button>
                        <button type="button"
                                class="button button--full-width button-secondary modal-payment-error__go-to-vendor-button">
                            {% trans %}label.continue_with_shopping{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="login-registration-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="spinner-wrapper"></div>
            <div class="modal-close-button"></div>
        </div>
    </div>

    {% if showVendorPopup is defined and showVendorPopup %}
        <div class="modal fade vendor-popup__modal" tabindex="-1" role="dialog" aria-hidden="true"
             data-utm-source="{{ utmSource }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body clearfix">
                        <div class="home__titles__main-title"
                            data-heimschmecker.at="{% trans %}vendor.popup_title{% endtrans %}"
                            data-urbantaste.de="{% trans %}vendor.popup_urban_taste_title{% endtrans %}">
                        </div>
                        <div class="home__titles__subtitle"
                            data-heimschmecker.at="{% trans %}vendor.popup_text{% endtrans %}"
                            data-urbantaste.de="{% trans %}vendor.popup_urban_taste_text{% endtrans %}">
                        </div>
                    </div>
                </div>
                <div class="modal-close-button close" data-dismiss="modal"></div>
            </div>
        </div>
    {% endif %}

    {% if showUnsubscribePopup|default(false) %}
        <div class="modal modal-alert unsubscribe__modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body clearfix">
                        {% if isUnsubscribed %}
                            {{ cms('homepage-unsubscribed-successfully-popup') }}
                        {% else %}
                            {{ cms('homepage-unsubscribed-not-successfully-popup') }}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-close-button close" data-dismiss="modal"></div>
            </div>
        </div>
    {% endif %}

    <script type="text/template" id="template-login">
        {% render(controller('VoloFrontendBundle:Security:login')) %}
    </script>
    <script type="text/template" id="template-registration">
        {% render(controller('VoloFrontendBundle:Customer:create')) %}
    </script>
    <script type="text/template" id="template-forgot-password">
        {% render(controller('VoloFrontendBundle:Customer:forgotPassword')) %}
    </script>

    {% include('VoloFrontendBundle:Layout/Partial/templates:map_modal.html.twig') %}
{% endblock modals %}
