<script type="text/template" id="template-delivery_address">
    <div class="delivery_address">
        <div class="delivery__company"><%- company %></div>
        <div class="delivery__address">
            <div class="delivery__address__line"><%- address_line1 %> <%- address_line2 %></div>
            <div class="delivery__address__line"><%- postcode %> <%- city %></div>
        </div>
        <div class="delivery__notes"><%- delivery_instructions %></div>
    </div>
</script>
