<script type="text/template" id="template-delivery-address">
    <div class="checkout__delivery-information__addresses">
        <div class="checkout__delivery-information__address">
            <div><%= company %></div>
            <div>
                <div><%= address_line1 %> <%- address_line2 %></div>
                <div><%- postcode %> <%- city %></div>
            </div>
            <div class="checkout__delivery-address__delivery-notes"><%= delivery_instructions %></div>
        </div>
        <button class="button">Delete</button>
    </div>
</script>
