{# cart summary extra item #}
<script type="text/template" id="template__form__redirect">
    <form action="<%- location %>" method="POST" id="checkout-form-redirect">
        <% _.each(args, function (value, key) { %>
            <input type="hidden" name="<%- key %>" value="<%- value %>">
        <% }); %>
    </form>
</script>
