<script type="text/template" id="template-time-picker">
    <div class="desktop-cart__time">
        <div class="desktop-cart__time__field-date">
            <select id="order-delivery-date">
                <% _.forEach(days, function(text, key) { %><option value="<%- key %>"><%- text %></option><% }); %>
            </select>
        </div>
        <div class="desktop-cart__time__field-time">
            <select id="order-delivery-time" data-tooltip-msg="{% trans %}timepicker.tooltip.selection_expired_and_updated{% endtrans %}">
                <% _.forEach(times, function(text, key) { %><option value="<%- key %>"><%- text %></option><% }); %>
            </select>
        </div>
    </div>
</script>
