{# choices and toppings modal #}
<script type="text/template" id="template-choices-toppings">
    <div class="modal fade topping-modal" id="choices-toppings-modal" tabindex="-1" role="dialog" aria-labelledby="choicesToppings" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="toppings-product__name"><%- name %></div>
                    <div class="toppings-product__price"><%= VOLO.formatCurrency(total_price) %></div>
                    <div class="toppings-product__description"><%- description %></div>
                    <div class="toppings"></div>
                </div>
                <div class="modal-footer">
                    <a class="toppings-add__to__cart button">{{ 'topping.add_to_cart'|trans }}</a>
                    {# quantity selector from toppings-product-quantity #}
                </div>
                <div class="modal-error-message">
                    <span class="icon-attention"></span> {{ 'topping.make_requested_selection'|trans }}
                </div>
                <div class="modal-close-button"></div>
            </div>
        </div>
    </div>
</script>

{# product quantity in modal #}
<script type="text/template" id="toppings-product-quantity">
    <span class="icon-minus product__quantity__decrease"></span>
    <span class="product__quantity"><%- quantity %></span>
    <span class="icon-plus product__quantity__increase"></span>
</script>

{# topping fragment #}
<script type="text/template" id="template-topping">
    <div class="topping__header">
        <div class="topping__header__name">
            <%- name %>
        </div>
        <div class="topping__header__info">
            {#header comment#}
            <div class="topping__header__arrow icon-down-open-big"></div>
        </div>
    </div>
    <div class="topping__options"></div>
</script>

{#topping option fragment #}
<script type="text/template" id="template-topping-option">
    <div class="topping-option__button"></div>
    <div class="topping-option__name"><%- name %></div>
</script>

{#topping option header comment fragment #}
<script type="text/template" id="template-topping-comment">
    <div class="topping__comment__help-text">
        <% if (quantity_minimum === 0 ) { %>
            <% if (quantity_maximum > 1 ) { %>
                {% trans with {'%quantity%': '<%- quantity_maximum %>'} %}topping.select_up_to %quantity%{% endtrans %}
            <% } else { %>
                {% trans %}topping.select_optional{% endtrans %}
            <% } %>
        <% } else { %>
            <% if (quantity_maximum === 1 ) { %>
                {% trans %}topping.select_one{% endtrans %}
            <% } else { %>
                {% trans with {'%quantity%': '<%- quantity_maximum %>'} %}topping.select_up_to %quantity%{% endtrans %}
            <% } %>
        <% } %>
    </div>
    <ul class="topping__comment__selected_items_list">
        <% _.each(selectedOptions, function(option) { %>
        <li>
            <%= option.name %>
            <% if (option.price != 0 ) { %>
            (<%= VOLO.formatCurrency(option.price) %>)
            <% } %>
        </li>
        <% }); %>
    </ul>
</script>
