{% extends 'VoloFrontendBundle:Checkout:base.html.twig' %}

{% block delivery_information %}
    <h3 class="checkout__title checkout__title--stacked">1. {% trans %}title.delivery_details{% endtrans %}
        <span class="checkout__subtitle__edit">
        <i class="icon-pencil"></i>
        <a href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">{% trans %}link.edit_delivery_information{% endtrans %}</a>
    </span>
    </h3>
    <div class="checkout__delivery_information">
        {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_edit.html.twig') %}
    </div>
{% endblock %}

{% block contact_information %}
    <h3 class="checkout__title">2. {% trans %}title.contact_info{% endtrans %}</h3>

    {% for message in errorMessages %}
        {% if 'ApiCustomerAlreadyExistsException' in message %}
            <div id="show-login-overlay"
                 data-error-message-key="checkout.user_already_exists"
                 data-username="{{ username }}"
                 class="error">{% trans %}checkout.user_already_exists{% endtrans %}</div>
        {% else %}
            <div class="error">{{ message }}</div>
        {% endif %}
    {% endfor %}

    {% include('VoloFrontendBundle:Checkout/Partial:contact_information_form.html.twig') with {action: path('checkout_contact_information', {vendorCode: vendor.code})} %}
{% endblock %}

{% block payment %}
    <h3 class="checkout__title checkout__title--step">3. {% trans %}title.payment{% endtrans %}</h3>
{% endblock %}
