{% extends 'VoloFrontendBundle:Checkout:base.html.twig' %}

{% block google_tag_manager_before %}
    <script type="text/javascript" data-turbolinks-eval=always>
        dataLayer.push({
            'event': 'checkout',
            'checkoutStep': '1 - Checkout Started',
            'sessionId': VOLO.configuration.sessionId,
            'referrer': VOLO.tagManager.referrer
        });
    </script>
{% endblock %}

{% block delivery_information %}
    <div class="checkout__step checkout__step--first checkout__step--active checkout__delivery-information">
        <h3 class="checkout__step__title">1. {% trans %}title.delivery_details{% endtrans %}</h3>
        <div class="checkout__step__items">
            <div class="checkout__step__item">
                <h4 class="checkout__step__item-title">{% trans %}title.delivery_time{% endtrans %}</h4>
                <div class="checkout__step__item-content checkout__time-picker" data-vendor_id="{{ vendor.id }}">
                    {% include('VoloFrontendBundle:Layout/Partial/templates:timepicker.html.twig') %}
                </div>
            </div>
            <div class="checkout__step__item checkout__delivery-information__edit-address">
                <h4 class="checkout__step__item-title">{% trans %}title.delivery_address{% endtrans %}</h4>
                <div class="checkout__step__item-content">
                    {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_form.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contact_information %}
    <div class="checkout__step checkout__step--reduced checkout__contact-information">
        <h3 class="checkout__step__title">2. {% trans %}title.contact_info{% endtrans %}</h3>
    </div>
{% endblock %}

{% block payment %}
    <div class="checkout__step checkout__step--reduced checkout__payment">
        <h3 class="checkout__step__title">3. {% trans %}title.payment{% endtrans %}</h3>
    </div>
{% endblock %}
