{% extends 'VoloFrontendBundle:Checkout:base.html.twig' %}

{% block delivery_information %}
    <h3 class="checkout__title">1. {% trans %}Delivery details{% endtrans %}</h3>
    <h4 class="checkout__subtitle">{% trans %}Delivery Address{% endtrans %}</h4>
    {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_form.html.twig') %}
{% endblock %}
