{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block content %}
    <div style="background-color: #eee;">
        <div class="wrapper-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Checkout: You are ordering from <span style="color:red">Tartine bakery</span></p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-8" style="background-color:#fff">
                        <div class="row">
                            <div class="col-md-1">
                                <p class="lead">1/</p>
                            </div>
                            <div class="col-md-11">
                                <p class="lead">CONTACT DETAILS</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <p>DELIVERY TIME</p>

                                <p>Wednesday, April 29th<br/>10:00 PM - 1:00 PM</p>
                            </div>

                            <div class="col-md-5">
                                <p>DELIVERY ADDRESS</p>

                                <form id="checkout_form">
                                    <p>
                                        <input type="text"
                                               name="shipping_address_formatted"
                                               value="{{ shippingAddress.formatted|e }}"
                                               style="border: 1px solid red;width:350px;"
                                               onfocus="this.select()"
                                               id="checkout_shipping_address"
                                        >
                                        <input type="hidden" name="shipping_address_lat" value="{{ shippingAddress.lat|e }}">
                                        <input type="hidden" name="shipping_address_lng" value="{{ shippingAddress.lng|e }}">
                                    </p>
                                </form>

                                <p>"Please for for "Stone-Garfield" at the door upon arrival"</p>
                            </div>
                        </div>

                        <hr/>

                        <div class="row">
                            <div class="col-md-1">
                                <p class="lead">2/</p>
                            </div>
                            <div class="col-md-11">
                                <p class="lead">CONTACT INFO</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <p>John Doe<br/>john.doe@gmail.com<br/>012345678910</p>
                            </div>
                        </div>

                        <hr/>

                        <div class="row">
                            <div class="col-md-1">
                                <p class="lead">2/</p>
                            </div>
                            <div class="col-md-11">
                                <p class="lead">PAYMENT</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" style="text-align: center;">
                                <img src="http://dummyimage.com/160x70">

                                <p>Credit Card</p>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                                <img src="http://dummyimage.com/160x70">

                                <p>Pay Pal
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                                <img src="http://dummyimage.com/160x70">

                                <p>Direct Debit</p>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                                <img src="http://dummyimage.com/160x70">

                                <p>Bank Transfer</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="lead">CREDIT CARD DETAILS</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <input type="text" placeholder="Card number"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="MM / YY"/>
                                        <input type="text" placeholder="CVC"/>
                                    </div>

                                    <h6>BILLING ADDRESS</h6>

                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox"/>Same as delivery Address.
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <img src="http://dummyimage.com/270x150">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <a href=#> Have a voucher?</a>
                                <p>By completing this order, I accept the Terms & conditions
                                    <br/>and our Privacy Policy.</p>
                            </div>

                            <div class="col-md-2">
                                <button>FINISH AND PAY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
