{% extends 'VoloFrontendBundle:Checkout:base.html.twig' %}

{% block delivery_information %}
    <h3 class="checkout__title">1. {% trans %}Delivery details{% endtrans %}
        <span class="checkout__subtitle__edit">
            <i class="icon-pencil"></i>
            <a id="add_new_address_link" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">
                {% trans %}Addnew{% endtrans %}
            </a>
        </span>
    </h3>

    <h4 class="checkout__subtitle">{% trans %}Delivery Address{% endtrans %}</h4>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if customer_addresses|length > 0 %}
            {% if customer_addresses|length > 1 %}
                <a id="select_other_address_link" href="#">select other</a>
                <div id="delivery-information-list" class="hide">
                    {% set selected_address = customer_addresses|last %}
                    {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_list.html.twig') %}
                </div>
            {% endif %}

            {% set customer_address = customer_addresses|first %}
            {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_edit.html.twig') %}
        {% endif %}

        <div id="add_new_address_form" class="hide">
            {% include 'VoloFrontendBundle:Checkout/Partial:delivery_information_form.html.twig' with {'vendor' : vendor} only %}
        </div>
    {% else %}
        {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_edit.html.twig') %}
    {% endif %}
{% endblock %}

{% block contact_information %}
    <h3 class="checkout__title">
        2. {% trans %}Contact info{% endtrans %}
        <span class="checkout__subtitle__edit">
        <i class="icon-pencil"></i>
        <a id="edit_contact_information_form_link"
           href="{{ path('checkout_contact_information', {vendorCode: vendor.code}) }}">{% trans %}
            Edit{% endtrans %}</a>
    </span>
    </h3>

    <div id="contact_information">
        {% include('VoloFrontendBundle:Checkout/Partial:contact_information_edit.html.twig') %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="edit_contact_information_form" class="hide">
            {% include('VoloFrontendBundle:Checkout/Partial:contact_information_form.html.twig') %}
        </div>
    {% endif %}
{% endblock %}

{% block payment %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include('VoloFrontendBundle:Checkout/Partial:payment_list.html.twig') %}
    {% endif %}

    {% include('VoloFrontendBundle:Checkout/Partial:payment_form.html.twig') %}
    
    <button id="finish-and-pay" class="button pull-right">{% trans %}finish_and_pay{% endtrans %}</button>

    <script data-turbolinks-eval=false>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        $('#add_new_address_link').click(function (event) {
            $('#add_new_address_form').toggleClass('hide');
            event.preventDefault();
        });

        $('#delivery_information_form').on('submit', function (event) {
            $.post(
                    Routing.generate('checkout_create_address'),
                    $('#delivery_information_form').serialize()
            ).done(function (data) {
                        $('#delivery-information-list').html(data);
                        $('#delivery_information_form').toggleClass('hide');
                        $('#delivery-information-list').toggleClass('hide');
                        $("input:radio[name='selected_address']:checked").click();
                    });

            // replace the list with the new list from the POST request
            event.preventDefault();
        });

        $('#edit_contact_information_form_link').click(function () {
            $('#edit_contact_information_form').toggleClass('hide');
            event.preventDefault();
        });

        $('#contact_information_form').on('submit', function (event) {
            $.post(
                    Routing.generate('checkout_edit_contact_information'),
                    $('#contact_information_form').serialize()
            ).done(function (data) {
                        $('#contact_information').html(data);
                        $('#contact_information_form').toggleClass('hide');
                    });

            // replace the list with the new list from the POST request
            event.preventDefault();
        });
        {% endif %}

        $('#select_other_address_link').click(function () {
            $('#delivery-information-list').toggleClass('hide');
        });

        $("#delivery-information-list").on('click', "input:radio[name='selected_address']", function () {
            if ($(this).is(':checked')) {
                $('#selected_delivery_address').html($('.delivery_address[data-address-id="' + $(this).val() + '"]').html());
                $('#delivery-information-list').toggleClass('hide');
            }
        });

        $('#finish-and-pay').click(function () {
            var encryptedForm = adyen.encrypt.createEncryptedForm(
                    document.getElementById('payment_form'),
                    '{{ adyen_public_key }}',
                    {cardTypeElement: document.getElementById('cardType')}
            );

            var newCreditCardFormIsOpen = true;

            if (newCreditCardFormIsOpen) {
                var checkoutForm = $('#payment_form'),
                        selectedAddress = $("input:radio[name='selected_address']:checked").val();


                if (!_.isUndefined(selectedAddress)) {
                    checkoutForm.append($('<input/>', {
                        type: 'hidden',
                        name: "customer_address_id",
                        value: selectedAddress
                    }));
                }
                checkoutForm.append($('<input/>', {
                    type: 'hidden',
                    name: "adyen-encrypted-data",
                    value: encryptedForm.encrypt()
                }));

                checkoutForm.submit();
            } else {

            }
        });
    </script>
{% endblock %}
