<div class="home__titles">
    <div class="home__titles__main-title">
        Nimm Foodora mit, wohin du gehst!
    </div>
    <div class="home__titles__subtitle">
        LADE UNSERE KOSTENLOSE APP HERUNTER.
    </div>
</div>
<section class="home__app">
    <div class="home__app__fluid-container">
        <div class="home__app__container">
            <div class="home__app__phone-left">
                <img class="home__app__phone-left-img b-lazy" alt="" data-src="/img/homepage/phone-left.png" src="data:image/gif;base64,R0lGODdhAQABAIAAAMzMzJaWliwAAAAAAQABAAACAkQBADs=">
            </div>
            <div class="home__app__message">
                <a class="home__app__message-logo" href="https://app.adjust.com/uy8ik9?campaign=DE_Landingpage_Badge_iOS&deep_link=foodora://de[?l=en_DE]&fallback=https%3A%2F%2Fitunes.apple.com%2Fde%2Fapp%2Ffoodora-lieferservice-auf%2Fid998930867%3Fmt%3D8" target="_blank">
                    <img class="home__app__message-img b-lazy" alt="" data-src="/img/homepage/apple-store.jpg" src="data:image/gif;base64,R0lGODdhAQABAIAAAMzMzJaWliwAAAAAAQABAAACAkQBADs=">
                </a>
                <div class="home__app__message-logo">
                    <img class="home__app__message-img b-lazy" alt="" data-src="/img/homepage/google-play-gray.jpg" src="data:image/gif;base64,R0lGODdhAQABAIAAAMzMzJaWliwAAAAAAQABAAACAkQBADs=">
                    <span>Kommt bald</span>
                </div>
            </div>
            <div class="home__app__phone-right">
                <img class="home__app__phone-right-img b-lazy" alt="" data-src="/img/homepage/phone-right.png" src="data:image/gif;base64,R0lGODdhAQABAIAAAMzMzJaWliwAAAAAAQABAAACAkQBADs=">
            </div>
        </div>
    </div>
</section>
