<div class="form-group">
    <label for="first_name">First name:</label>
    <input type="text" id="first_name" name="customer[first_name]" class="form-control"
           value="{{ customer.first_name|default('') }}" required="true" />
</div>

<div class="form-group">
    <label for="last_name">Last name:</label>
    <input type="text" id="last_name" name="customer[last_name]" class="form-control"
           value="{{ customer.last_name|default('') }}" required="true" />
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="customer[email]" class="form-control" value="{{ customer.email|default('') }}" required="true" />
</div>

<div class="form-group">
    <label for="mobile_number">Mobile Number</label>
    <input type="tel" id="mobile_number" name="customer[mobile_number]" class="form-control"
           value="{{ customer.mobile_number|default('') }}" required="true" />
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="customer[password]" class="form-control" required="true" />
</div>

<!-- TODO: JS validate that password is equivalent to repeat_password -->
<div class="form-group">
    <label for="repeat_password">Retype password:</label>
    <input type="password" id="repeat_password" class="form-control" required="true" />
</div>
