<script type="text/template" id="template-vendor-supply-postcode">
    Enter your postal code to find restaurants near you
</script>

<script type="text/template" id="template-vendor-menu-nothing-found">
    Unfortunately, restaurant will not deliver to your area.
    <a href="<%- url %>">Click here</a> to find restaurants in your area
</script>

<script type="text/template" id="template-vendor-is-deliverable-server-error">
    We could not validate if vendor delivers to your area
</script>
