// ----------------------- RESPONSIVE START -----------------------
@mixin responsive-img() {
  display: block;
  width: 100%;
  height: auto;
}
// ----------------------- RESPONSIVE END -----------------------

// ----------------------- GUTTER START -------------------------
@mixin set-default-gutter() {
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

@mixin set-no-gutter() {
  padding-left: 0;
  padding-right: 0;
}
// ----------------------- GUTTER END ---------------------------

// ----------------------- TEXT START ---------------------------
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin make-link($color: $color-text-link, $color-hover:$color-text-link-hover) {
  cursor: pointer;
  color: $color;

  @include transition(color .1s linear);
  &:hover, &:focus {
    color: $color-hover;
    text-decoration: none;
  }
};
// ----------------------- TEXT END ---------------------------

// ----------- CENTERS TEXT VERTICALLY BY A GIVEN HEIGHT START ----------
@mixin centerTextVerticallyByHeight($height) {
  height: $height;
  line-height: $height;
}
// ----------- CENTERS TEXT VERTICALLY BY A GIVEN HEIGHT END  ----------

// ----------- CENTERS ABSOLUTE POSITIONED BLOCK HORIZONTALLY AND VERTICALLY START ----------
@mixin absolute-center-box {
  margin:  auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
// ----------- CENTERS ABSOLUTE POSITIONED BLOCK HORIZONTALLY AND VERTICALLY END ----------

// ----------- CENTERS RELATIVE POSITIONED ELEMENT VERTICALLY START ----------
@mixin vertical-center-element {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
// ----------- CENTERS RELATIVE POSITIONED ELEMENT VERTICALLY END ----------


// ----------- CENTERS ABSOLUTE POSITIONED ELEMENT VERTICALLY START ----------
@mixin vertical-center-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
// ----------- CENTERS ABSOLUTE POSITIONED ELEMENT VERTICALLY END ----------


// ----------- ASPECT RATIO START ----------
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
// ----------- ASPECT RATIO START END ----------

// ----------- RADIO BUTTON AND CHECKBOX SPRITE START ----------
// mixin should be applied with the following HTML structure:
//<input class="sprite-form__radio-button" type="radio">
//or
//<input class="sprite-form__checkbox" type="checkbox">
//followed by
//<div class="sprite-form__sprite"></div>
//<label class="sprite-form__label"></label>
@mixin make-sprite-list-element($spriteGroupUnselected, $spriteGroupSelected, $spriteGroupHeight) {
  margin  : 0 !important;
  padding : 0;
  opacity : 0;
  cursor: pointer;
  height: 20px !important;
  width: 20px;
  position: absolute;
  z-index: 2;
  & + .sprite-form__sprite {
    z-index: 1;
    display: inline-block;
    @include retina-sprite($spriteGroupUnselected);
    min-height: $spriteGroupHeight;
    cursor: pointer;
    margin-right: $space-xs;
    @include vertical-center-absolute();
  }
  &:checked + .sprite-form__sprite{
    @include retina-sprite($spriteGroupSelected);
  }
}

@mixin make-sprite-radio-button() {
  @include make-sprite-list-element(
          $radiobutton-simple-unselected-group,
          $radiobutton-simple-selected-group,
          $radiobutton-simple-unselected-height
  );
}

@mixin make-sprite-checkbox() {
  @include make-sprite-list-element(
          $checkbox-unselected-group,
          $checkbox-selected-group,
          $checkbox-unselected-height
  );
}

// ----------- RADIO BUTTON AND CHECKBOX SPRITE END ----------

@mixin use-iconmoon-font() {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
