{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block content %}
    <div class="restaurants">
        <div class="restaurants__item">
            <img class="restaurants__item__img" src="/img/dish_types/dish_grid_view_eastern.jpg" alt=""/>
            <h3 class="restaurants__item__name">Dada Falafel</h3>
            <h4 class="restaurants__item__desc">Moroccan, Middle Eastern, Food Stands</h4>
            <p class="restaurants__item__time">
                <span class="restaurants__item__time__icon"></span>
                <span class="restaurants__item__time__label">Average delivery time:</span>  20-25 min
            </p>
        </div>
        <div class="restaurants__item">
            <img class="restaurants__item__img" src="/img/dish_types/dish_grid_view_cake.jpg" alt=""/>
            <h3 class="restaurants__item__name">Dada Falafel</h3>
            <h4 class="restaurants__item__desc">Moroccan, Middle Eastern, Food Stands</h4>
            <p class="restaurants__item__time">
                <span class="restaurants__item__time__icon"></span>
                <span class="restaurants__item__time__label">Average delivery time:</span> 20-25 min
            </p>
        </div>
        <div class="restaurants__item">
            <img class="restaurants__item__img"src="/img/dish_types/dish_grid_view_brunch.jpg" alt=""/>
            <h3 class="restaurants__item__name">Dada Falafel</h3>
            <h4 class="restaurants__item__desc">Moroccan, Middle Eastern, Food Stands</h4>
            <p class="restaurants__item__time">
                <span class="restaurants__item__time__icon"></span>
                <span class="restaurants__item__time__label">Average delivery time:</span> 20-25 min
            </p>
        </div>
        <div class="restaurants__item">
            <img class="restaurants__item__img"src="/img/dish_types/dish_grid_view_salads.jpg" alt=""/>
            <h3 class="restaurants__item__name">Dada Falafel</h3>
            <h4 class="restaurants__item__desc">Moroccan, Middle Eastern, Food Stands</h4>
            <p class="restaurants__item__time">
                <span class="restaurants__item__time__icon"></span>
                <span class="restaurants__item__time__label">Average delivery time:</span> 20-25 min
            </p>
        </div>
        <div class="restaurants__item">
            <img class="restaurants__item__img"src="/img/dish_types/dish_grid_view_eastern.jpg" alt=""/>
            <h3 class="restaurants__item__name">Dada Falafel</h3>
            <h4 class="restaurants__item__desc">Moroccan, Middle Eastern, Food Stands</h4>
            <p class="restaurants__item__time">
                <span class="restaurants__item__time__icon"></span>
                <span class="restaurants__item__time__label">Average delivery time:</span> 20-25 min
            </p>
        </div>
        <div class="restaurants__item">
            <img class="restaurants__item__img"src="/img/dish_types/dish_grid_view_eastern.jpg" alt=""/>
            <h3 class="restaurants__item__name">Dada Falafel</h3>
            <h4 class="restaurants__item__desc">Moroccan, Middle Eastern, Food Stands</h4>
            <p class="restaurants__item__time">
                <span class="restaurants__item__time__icon"></span>
                <span class="restaurants__item__time__label">Average delivery time:</span> 20-25 min
            </p>
        </div>
    </div>
{% endblock %}
