/*
* variables declarations
*/


// ----------------------- FONTS START -----------------------
@text-color: #000;
@base-font-size: 16px;
@base-font-family: 'Arial';
@base-font-weight: 400;
@base-line-height: 1.6;
// ----------------------- FONTS END -----------------------


// ----------------------- IMAGES START -----------------------
@imagepath: "../../img/";
// ----------------------- IMAGES END -----------------------


// ----------------------- COLORS START -----------------------
// ----------------------- COLORS END -----------------------


// ----------------------- SPACES START -----------------------
// ----------------------- SPACES END -----------------------


// ----------------------- HOMEPAGE START -----------------------
// ----------------------- HOMEPAGE END -----------------------

