/*
* variables declarations
*/

// ----------------------- FONTS START -----------------------
$fontspath: "../../fonts/";

// this value should be changed anytime fonts file are updated in order to avoid caching issues
$font-version: 9;

@font-face {
  font-family: 'icomoon';
  src:url('#{$fontspath}icomoon.eot?#{$font-version}');
  src:url('#{$fontspath}icomoon.eot?#{$font-version}') format('embedded-opentype'),
  url('#{$fontspath}icomoon.ttf?#{$font-version}') format('truetype'),
  url('#{$fontspath}icomoon.woff?#{$font-version}') format('woff'),
  url('#{$fontspath}icomoon.svg?#{$font-version}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('#{$fontspath}2ED58B_1_0.eot?#{$font-version}');
  src: url('#{$fontspath}2ED58B_1_0.eot?#{$font-version}') format('embedded-opentype'),
  url('#{$fontspath}2ED58B_1_0.woff?#{$font-version}') format('woff2'),
  url('#{$fontspath}2ED58B_1_0.woff?#{$font-version}') format('woff'),
  url('#{$fontspath}2ED58B_1_0.ttf?#{$font-version}') format('truetype'),
  url('#{$fontspath}2ED58B_1_0.svg?#{$font-version}#2ED58B_1_0') format('svg');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('#{$fontspath}2ED58B_0_0.eot?#{$font-version}');
  src: url('#{$fontspath}2ED58B_0_0.eot?#{$font-version}') format('embedded-opentype'),
  url('#{$fontspath}2ED58B_0_0.woff2?#{$font-version}') format('woff2'),
  url('#{$fontspath}2ED58B_0_0.woff?#{$font-version}') format('woff'),
  url('#{$fontspath}2ED58B_0_0.ttf?#{$font-version}') format('truetype'),
  url('#{$fontspath}2ED58B_0_0.svg?#{$font-version}#2ED58B_0_0') format('svg');
}

@font-face {
  font-family: 'Satisfy Regular';
  src: url('#{$fontspath}SatisfyRegular.eot?#{$font-version}');
  src: url('#{$fontspath}SatisfyRegular.eot?#{$font-version}') format('embedded-opentype'),
  url('#{$fontspath}SatisfyRegular.woff2?#{$font-version}') format('woff2'),
  url('#{$fontspath}SatisfyRegular.woff?#{$font-version}') format('woff'),
  url('#{$fontspath}SatisfyRegular.ttf?#{$font-version}') format('truetype'),
  url('#{$fontspath}SatisfyRegular.svg?#{$font-version}#SatisfyRegular') format('svg');
}

$base-font-size: 10px;
$base-font-family: 'Avenir Book', Arial, sans-serif;
$base-font-weight: 400;
$base-line-height: 1.6;
$color-text-primary: #292929;
$color-text-secondary: #666;
$color-text-light: #999;
$color-text-highlight: #d70f64;
$color-text-inactive: #bcbcbc;
$color-text-selection: #fff;
$color-text-link: #d70f64;
$color-text-link-hover: #ac0c50;

$bold-font-family: 'Avenir Heavy', Arial, sans-serif;
$satisfy-font-family: 'Satisfy Regular', Arial, sans-serif;
// ----------------------- FONTS END --------------------------

// ----------------------- TEXT FONT SIZES -----------------------
$font-size-1rem: 1rem;
$font-size-1_2rem: 1.2rem;
$font-size-1_4rem: 1.4rem;
$font-size-1_6rem: 1.6rem;
$font-size-1_9rem: 1.9rem;
$font-size-2_2rem: 2.2rem;
$font-size-2_4rem: 2.4rem;
$font-size-2_8rem: 2.8rem;
$font-size-3_2rem: 3.2rem;
$font-size-3_6rem: 3.6rem;
$font-size-3_8rem: 3.8rem;
$font-size-4_1rem: 4.1rem;
$font-size-5_7rem: 5.7rem;
$font-size-6_4rem: 6.4rem;
$font-size-6_7rem: 6.7rem;
$font-size-9_6rem: 9.6rem;
$font-size-11_8rem: 11.8rem;
$font-size-13rem: 13rem;
$font-size-14_4rem: 14.4rem;
$font-size-22_4rem: 22.4rem;
// ----------------------- END TEXT FONT SIZES -----------------------

// ----------------------- IMAGES START -----------------------
$imagepath: "../../img/";
// ----------------------- IMAGES END -------------------------

// ----------------------- BACKGROUND COLORS START -----------------------
$color-icons-separator: #c8c8c8;
$color-bg-primary: #fff;
$color-bg-secondary: #f7f7f7;
$color-bg-footer: #5e5e5e;
$color-bg-text-selection: #d70f64;
// ----------------------- BACKGROUND COLORS END -------------------------

// ----------------------- SPACES START -----------------------
$space-xs: 5px;
$space-sm: 10px;
$space-md: 15px;
$space-lg: 20px;
// ----------------------- SPACES END --------------------------

// ----------------------- PERCENT SPACES START -----------------------
$space-percent-xs: 1%;
$space-percent-sm: 2%;
$space-percent-md: 4%;
$space-percent-lg: 6%;
// ----------------------- PERCENT SPACES END --------------------------

// ----------------------- BORDER START -----------------
$border-radius-default: 2px;
$border-radius-medium: 5px;
$base-border-color: #bcbcbc;
$base-border: 1px solid $base-border-color;
// ----------------------- BORDER END -------------------

// ----------------------- FORM ELEMENTS START -----------------------
$form-element-height-default: 44px;

//  BUTTONS START
$cta-font-family: 'Avenir Heavy', Arial, sans-serif;
$cta-font-size: $font-size-1_4rem;
$cta-text-align: center;
$cta-text-transform: uppercase;
$cta-padding-left: 20px;
$cta-padding-right: 20px;
$cta-border-radius: $border-radius-default;
$cta-height: $form-element-height-default;
$cta-smaller-height: 30px;
// Primary button
$cta-color-text-primary: #fff;
$cta-color-bg-primary: #d70f64;
$cta-color-bg-primary-hover: #ac0c50;
// Secondary button
$cta-color-text-secondary: #d70f64;
$cta-color-bg-secondary: transparent;
$cta-color-bg-secondary-hover: #ac0c50;
$cta-secondary-border: 1px solid #d70f64;
// Disabled button
$cta-color-bg-disabled: #bcbcbc;
// Pressed state
$cta-pressed-box-shadow: inset 0 2px 0 1px #8a0a40;
// BUTTONS END

//  INPUT FIELDS START
$input-font-family: 'Avenir Book', Arial, sans-serif;
$input-font-size: $font-size-1_6rem;
$input-text-align: left;
$input-padding-left: 12px;
$input-padding-right: 12px;
$input-border-radius: $border-radius-default;
$input-height: $form-element-height-default;
$input-color-text: #292929;
$input-color-bg: #fff;
$input-border: 1px solid #c8c8c8;
// Focus state
$input-color-text-active: #292929;
$input-border-active: 1px solid #888;
// Error state
$input-color-text-error: #f0502d;
$input-color-bg-error: #ffefef;
$input-border-error: 1px solid #f0502d;
// Error contextual message
$error-msg-font-family: 'Avenir Book', Arial, sans-serif;
$error-msg-font-size: $font-size-1_2rem;
$error-msg-line-height: 1.42;
$error-msg-color-bg: #f0502d;
$error-msg-color-text: #fff;
$error-msg-height: 20px;
// Success contextual message
$success-msg-color-bg: #1fa337;
$success-msg-color-text: #fff;
//  INPUT FIELDS END

// ----------------------- FORM ELEMENTS END -----------------------

// ----------------------- DROP DOWNS START --------------------
$dropdown-font-family: 'Avenir Book', Arial, sans-serif;
$dropdown-font-size: $font-size-1_4rem;
$dropdown-color-text: #292929;
$dropdown-color-bg-1: #fff;
$dropdown-color-bg-2: transparent;
$dropdown-border: 1px solid #c8c8c8;
$dropdown-text-align: left;
$dropdown-link-padding: 10px;
$dropdown-color-border: #c8c8c8;
// ----------------------- DROP DOWNS END ----------------------

// ----------------------- HOMEPAGE START ----------------------

// ----------------------- HOMEPAGE END ------------------------

// ----------------------- RESTAURANT LIST START ------------------------
$hero-restaurant-img: "#{$imagepath}hero_banners/hero_restaurant.jpg";
$restaurant-font-size: $font-size-1_4rem;
$restaurant-box-shadow: 0px 0px 2px 0px rgba(1,1,1,0.2);
$restaurant-box-shadow-hover: 0px 7px 20px 0px rgba(1,1,1,0.2);
$restaurant-bg-color: #fff;
// ----------------------- RESTAURANT LIST END ------------------------

// ----------------------- MENU START ------------------------
$top-cart-height: 100px;
// ----------------------- MENU END ------------------------

// ----------------------- TOOLTIP START ------------------------
$tooltip-bg: #D70F64;
$tooltip-arrow-color: $tooltip-bg;
// ----------------------- TOOLTIP END ------------------------

// ----------------------- HEADER START ------------------------
$header-height: 100px;
$header-height-small: 55px;
$header-height-extra-small: 46px;
$header-background: $color-bg-primary;
$link-color-bg-dark: #fff;
// ----------------------- HEADER END ------------------------
