{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block title %}{{ element.metaTitle }} | {% trans %}brand{% endtrans %}{% endblock %}

{% block body_class %}static-page{% endblock %}

{% block content_wrapper_class %}menu-bg{% endblock content_wrapper_class %}

{% block content %}
    <div class="hero-banner-wrapper">
        <div class="hero-banner-content">
            {% include 'VoloFrontendBundle:Layout/ImageTag:thumbor_image_background.html.twig' with {'vendorCode' : 'cms', type: 'hero', 'aspectRatioClass' : 'aspect-ratio-40-11'} %}
            <h1>{{ element.metaTitle }}</h1>
        </div>
    </div>
    <div class="static-page__blocks-wrapper">
        <div class="static-page__blocks">
            <div class="static-page__block">
                {{ element.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
