{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block content %}
<div style="background-color: #d9534f; padding-top:100px; padding-bottom:100px;">
    <div class="wrapper-fluid">
        <div class="container">
            <div class="col-md-4 col-md-offset-4" style="background-color: #eee; padding: 40px;">
                <div class="lead" style="text-align: center">THE FOOD YOU LOVE,<br/> DELIVERED TO YOUR<br/> HOME OR OFFICE</div>
                <p style="text-align: center">Locally sourced, high-quality, curated restaurants.<br/> Delivered in under an hour.</p>

                <div style="text-align: center;">
                    <input type="text" placeholder="Zip code"/>
                    <button>Find food</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-fluid">
    <div class="container">
        <div class="col-md-12">
            <p class="lead" style="text-align:center;">DELIVERING FROM THE BEST RESTAURANTS</p>
            <p style="text-align:center;">Carefully selected restaurants that you already love.</p>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <div class="col-md-2">
                <img src="http://placehold.it/120x100"/>
            </div>
            <div class="col-md-2">
                <img src="http://placehold.it/120x100"/>
            </div>
            <div class="col-md-2">
                <img src="http://placehold.it/120x100"/>
            </div>
            <div class="col-md-2">
                <img src="http://placehold.it/120x100"/>
            </div>
            <div class="col-md-2">
                <img src="http://placehold.it/120x100"/>
            </div>
        </div>

        <div class="col-md-12">
            <h2>Cities</h2>
            <ul>
                {% for city in cities %}
                    <li><a href="{{ path('city', {'id': city.id}) }}">{{ city.name|e }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
