{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block content %}

    <section class="teaser">
        <div class="teaser__slogan">
            <h2>Essen der besten Restaurants, <br />blitzschnell zu Ihnen nach Hause oder ins Büro.</h2>
        </div>
        <form class="teaser__form">
            <input type="text" class="teaser__form__input">
            <button class="button primary">FIND FOOD</button>
        </form>
        <div class="teaser__gradient"></div>
    </section>

    <div class="titles">
        <div class="titles__title">
            Only the best.
        </div>
        <div class="titles__subtitle">
            Carefully selected.
        </div>
    </div>
    <section class="restaurants-logos">
        <div class="logos-container">
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo01.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo02.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo03.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo04.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo05.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo01.png">
            </div>
        </div>
    </section>

    <div class="titles">
        <div class="titles__title">
            Always hot.
        </div>
        <div class="titles__subtitle">
            Get your meals fast.
        </div>
    </div>
    <section class="stats">
        <div class="stats__content b-lazy" data-src="/img/fork-knife.png">
            <img class="stats__dish b-lazy" data-src="/img/dish.png" alt="" src="/img/placeholder_15x15.png" />
        </div>
    </section>

    <div class="titles">
        <div class="titles__title">
            Straight to your dining table.
        </div>
        <div class="titles__subtitle">
            tell us where you are.
        </div>
    </div>
    <section class="cities">
        <div class="cities__container">
            <div class="city">
                <a href="#">
                    <div class="city__title">
                        <span>Berlin</span>
                    </div>
                    <img class="b-lazy" data-src="/img/cities/berlin.jpg" alt="" src="/img/placeholder_414x217.png" />
                </a>
            </div>
            <div class="city">
                <a href="#">
                    <div class="city__title">
                        <span>Frankfurt</span>
                    </div>
                    <img class="b-lazy" data-src="/img/cities/frankfurt.jpg" alt="" src="/img/placeholder_414x217.png" />
                </a>
            </div>
            <div class="city">
                <a href="#">
                    <div class="city__title">
                        <span>Hamburg</span>
                    </div>
                    <img class="b-lazy" data-src="/img/cities/hamburg.jpg" alt="" src="/img/placeholder_414x217.png" />
                </a>
            </div>
            <div class="city">
                <a href="#">
                    <div class="city__title">
                        <span>München</span>
                    </div>
                    <img class="b-lazy" data-src="/img/cities/munchen.jpg" alt="" src="/img/placeholder_414x217.png" />
                </a>
            </div>
            <div class="city">
                <a href="#">
                    <div class="city__title">
                        <span>Düsseldorf</span>
                    </div>
                    <img class="b-lazy" data-src="/img/cities/dusseldorf.jpg" alt="" src="/img/placeholder_414x217.png" />
                </a>
            </div>
            <div class="city">
                <a href="#">
                    <div class="city__title">
                        <span>Köln</span>
                    </div>
                    <img class="b-lazy" data-src="/img/cities/koln.jpg" alt="" src="/img/placeholder_414x217.png" />
                </a>
            </div>
        </div>
    </section>


    <div style="text-align: center">
        {% for city in cities %}
            <a href="{{ path('city', {'id': city.id}) }}">{{ city.name|e }}</a>
        {% endfor %}

        <a href="{{ path('checkout', {vendorCode: 'random'}) }}">Checkout</a>
    </div>



{% endblock %}
