{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}
{% use 'VoloFrontendBundle:Location:Partial/vendor_description.html.twig' %}

{% block content %}
    <div class="hero-banner-wrapper">
        <h1>{{ 'The Best of Berlin. Brought to your doorstep.'|trans }}</h1>
        {% include 'VoloFrontendBundle:Layout/ImageTag:thumbor_image.html.twig' with {vendorCode : 'list', type: 'hero'} %}
    </div>
    <div class="wrapper-fluid">
        <h2 class="hide">Available now</h2>
        <div class="restaurants">
            <div class="restaurants__tool-box">
                <div class="restaurants__location">
                    <input type="text" class="form-control"  name="location_set" value="" required="true" placeholder="{% trans %}Enter your postal code{% endtrans %}">
                    <div class="hide"><span>10117, Berlin Mitte</span><a href="">{% trans %}Change{% endtrans %}</a></div>
                </div>
            </div>
            {% for vendor in openVendors %}
                {{ block('vendor_description') }}
            {% endfor %}
        </div>
        <div class="restaurants">
            {% for vendor in closedVendors %}
                {{ block('vendor_description') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
