%aspect-ratio-base {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: content-box;
  background-position: center;
}

.aspect-ratio-40-22 {
  @include aspect-ratio(40, 22);
  @extend %aspect-ratio-base;
}

.aspect-ratio-40-11 {
  @include aspect-ratio(40, 11);
  @extend %aspect-ratio-base;
}

.aspect-ratio-100-52 {
  @include aspect-ratio(100, 52);
  @extend %aspect-ratio-base;
}
