//mobile bottom cart
.modal-close-button.mobile-close__cart {
  right: 4px;
  top: 2px;
}

.bottom-cart {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: $top-cart-height / 2;
  padding-left:  $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  background-color: $color-bg-text-selection;
  z-index: $zindex-navbar-fixed;
  color: $color-text-selection;
  font-size: 0.875em;
  @include respond-from("screen-md") {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.bottom-cart__wrapper {
  @include make-row();
}

.bottom-cart__quantity {
  @include make-xs-column(3);
  @include centerTextVerticallyByHeight($top-cart-height / 2);
  span {
    display: block;
    color: $color-text-highlight;
    background-color: $color-bg-primary;
    text-align: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    @include centerTextVerticallyByHeight(26px);
    @include vertical-center-element();
    padding-top: 1px;
  }
}

.bottom-cart__cta {
  @include make-xs-column(6);
  @include centerTextVerticallyByHeight($top-cart-height / 2);
  text-align: center;
  text-transform: uppercase;
}

.bottom-cart__cta--full {
  @extend .bottom-cart__cta;
  @include make-xs-column(12);
}

.bottom-cart__price {
  @include make-xs-column(3);
  @include centerTextVerticallyByHeight($top-cart-height / 2);
  text-align: right;
}

// cart

.desktop-cart {
  @include make-md-column(4);
  @include make-lg-column(3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1049;
  top: 0;
  left: 0;
  background-color: $color-bg-primary;
  font-size: 0.875em;
  padding: $space-xs;
  overflow: scroll;

  &.mobile-cart__hidden {
    display: none;
  }

  @include respond-from("screen-md") {
    position: static;
    padding-left: $grid-gutter-width;
    background-color: transparent;
    height: auto;
    overflow: visible;

    &.mobile-cart__hidden {
      display: block;
    }
  }
}

.desktop-cart__hero {
  width: 100%;
  position: relative;
  @include respond-from("screen-md") {
    display: none;
  }

  img {
    @include responsive-img();
  }

  .desktop-cart__hero__title {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $color-text-selection;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    padding-top: $space-sm;
  }

  i {
    display: inline-block;
    position: absolute;
    top: $space-xs;
    right: $space-xs;
    color: $color-text-selection;
    font-size: 2em;
  }
}

.desktop-cart-container {
  @include make-xs-column(12);
  padding: 0;
  @include respond-from("screen-md") {
    padding: 0 $grid-gutter-width / 2;
  }
}

.checkout__summary {
  @include clearfix;
  padding: 0;
  border: none;
  line-height: normal;
  font-size: 1em;
  overflow-y: auto;
  overflow-x: visible;
  @include respond-from("screen-md") {
    padding: $space-xs 0 $space-sm;
  }
}

.checkout__summary-overflowing {
  min-height: 50px;
  box-shadow: inset 0 8px 8px -8px rgba(1,1,1,0.2), inset 0 -8px 8px -8px rgba(1,1,1,0.2);
  margin-top: $space-md;
  margin-bottom: $space-md;
}

.cart__item {
  cursor: pointer;
}

.summary__items {
  width: 100%;
  @include respond-from("screen-md") {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }

  td {
    vertical-align: top;
    padding: $space-xs;
    text-align: left;
  }
}

td.summary__item__quantity {
  padding-left: 0;
  padding-right: 0;
  width: 1%;
  position: relative;

  span {
    margin: 0;
  }
}

.summary__item__quantity-icons {
  display: none;
  position: absolute;
  width: 51px;
  height: 33px;
  top: -25px;
  left: -2px;
  text-align: center;
  color: $color-text-highlight;
  z-index: 999;

  .icons_box {
    position: relative;
    width: 51px;
    height: 33px;
    line-height: 30px;
    background-image: url("#{$imagepath}cart/bg_add-toggle-2x.png");
    background-size: 51px 33px;
  }

  i {
    display: inline-block;
    width: 21px;
    @include centerTextVerticallyByHeight(21px);
    text-align: center;
    background-color: $color-bg-secondary;

    &:first-child {
      margin-left: 2px;
      margin-right: 1px;
    }

    &:last-child {
      margin-right: 2px;
    }
  }
}

td.summary__item__sign {
  padding-right: 0;
  width: 1%;
}

td.summary__item__name {
  width: 78%;
}

.summary__item__extra {
  line-height: 1.15em;
  display: block;
  color: $color-text-secondary;
  margin-top: 3px;
  font-weight: normal;

  &:first-child {
    margin-top: 3px;
  }
}

td.summary__item__price {
  position: relative;
  padding-right: 0;
  text-align: right;
  width: 20%;
  white-space: nowrap;

  span {
    margin: 0;
  }
}

td.summary__item__empty {
  padding: 0;
  height: $grid-gutter-width / 2;
}

tr.summary__item__row_desktop {
  display: none;
  @include respond-from("screen-md") {
    display: table-row;
    width: 100%;

    &:hover {
      .summary__item__quantity-icons, .summary__item__remove-icon {
        display: block;
      }
      .summary__item__name {
        color: $color-text-highlight;
      }

      .summary__item__remove-icon:before {
        display: block;
        content: '';
        position: absolute;
        right: 26px;
        height: 30px;
        width: 263px;
        top: 9px;
      }
    }
  }
}

td.summary__item__empty {
  display: none;
  @include respond-from("screen-md") {
    display: table-cell;
    width: 100%;
    padding: 0;
    height: $grid-gutter-width;
  }
}

tr.summary__item__row_mobile {
  @include respond-from("screen-md") {
    display: none;
  }

  td.summary__item__quantity {
    padding: 8px $space-sm;
    font-size: 1.2em;

    span {
      padding: 0;
    }
  }

  td.summary__item__sign {
    display: none;
  }

  td.summary__item__name {
    padding-top: 8px;
    padding-left: $space-sm;
    padding-bottom: 22px;
    color: $color-text-highlight;
    font-weight: bold;
  }

  td.summary__item__price {
    padding-top: 8px;
    width: 35%;

    span {
      display: inline-block;
    }

    i {
      background-color: $error-msg-color-bg;
      color: $error-msg-color-text;
      text-align: center;
      border-radius: 50%;
      width: 14px;
      @include centerTextVerticallyByHeight(14px);
      display: inline-block;
      margin-left: $space-xs;
    }
  }

  .summary__item__icon {
    padding-left: 0;
    padding-right: 0;
    i {
      width: 28px;
      border-radius: $border-radius-default;
      @include centerTextVerticallyByHeight(28px);
      background-color: $color-bg-secondary;
      display: inline-block;
      text-align: center;
      font-size: 1.5em;
      color: $color-text-highlight;
    }

    i.summary__item__icon__disabled {
      color: $cta-color-text-primary;
      background-color: $cta-color-bg-disabled;

      &:hover {
        cursor: default;
      }
    }
  }
}

.checkout__summary-overflowing {
  min-height: 50px;
  box-shadow:  inset 0 8px 8px -8px rgba(1,1,1,0.2), inset 0 -8px 8px -8px rgba(1,1,1,0.2);
  padding-top: $space-md;
}

.summary__item__remove-icon {
  display: none;
  position: absolute;
  text-align: center;
  width: 28px;
  height: 33px;
  line-height: 30px;
  top: -25px;
  right: -2px;
  background-image: url("#{$imagepath}cart/bg_delete-toggle-2x.png");
  background-size: 28px 33px;
  color: $color-text-highlight;
  
  i {
    display: block;
    width: 22px;
    @include centerTextVerticallyByHeight(21px);
    text-align: center;
    background-color: $color-bg-secondary;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }
}

.desktop-cart__title {
  font-family: $bold-font-family;
  @extend .text-center;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0 0 $space-md;
  padding: $space-md $space-sm;
  border-bottom: $base-border;
  @include respond-from("screen-md") {
    border: none;
    padding-bottom: 0;
    margin: 0;

    span {
      display: none;
    }
  }
}

.cart__title--time {
  @include appear-from("screen-md");
}

.desktop-cart__time {
  overflow: auto;
}


%desktop-cart__time__field {
  @include make-xs-column(6, 0);
  select {
    @extend .form-control;
  }
}

.desktop-cart__time__field-date {
  @extend %desktop-cart__time__field;
  padding-right: $space-xs;
}

.desktop-cart__time__field-time {
  @extend %desktop-cart__time__field;
  padding-left: $space-xs;
}

.desktop-cart__order {
  overflow-y: auto;
  overflow-x: visible;
  padding: 0 $space-sm;
  @include respond-from("screen-md") {
    padding: 0;
  }
}

.desktop-cart_order__message {
  @extend .text-center;
  color: $color-text-secondary;
  margin-bottom: 0;
  margin-top: $space-sm;
  line-height: 1.4em;
}

.desktop-cart__footer__message {
  @extend .text-center;
  color: $color-text-secondary;
  padding: $space-sm;
  margin: 0;
  background-color: $color-bg-primary;
  @include respond-from("screen-md") {
   display: none;
  }
}

.desktop-cart__order__subtotal {
  padding-top: $space-md;
  @include respond-from("screen-md") {
    border-top: $base-border;
  }
}

.desktop-cart__order__voucher {
  color: $color-text-highlight;
}

.desktop-cart__order__delivery {
  color: $color-text-secondary;
  span {
    @extend .desktop-cart__order__total__price;
  }
}

.desktop-cart__order__total {
  padding: $space-sm 0;
  font-size: 1.05em;
  font-family: $base-font-family;
  @include respond-from("screen-md") {
    font-family: $bold-font-family;
  }

  em {
    font-family: $base-font-family;
    font-style: normal;
    font-size: 0.9em;
    font-weight: normal;
  }
}

.desktop-cart__order__total__price {
  display: inline-block;
  float: right;
}

.desktop-cart__order__subtotal__container {
  background-color: $color-bg-secondary;
  padding: 0 $space-sm;
  margin-bottom: $space-lg;
  @include respond-from("screen-md") {
    background-color: transparent;
    padding: 0;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
}

.desktop-cart__header {
  overflow: auto;
  @include respond-from("screen-md") {
    width: 99%;
    margin: 0 auto;
  }

  .desktop-cart__time {
    @include appear-from("screen-md")
  }

  .vendor__geocoding__tool-box {
    @include clearfix;
    width: 100%;
    text-align: center;
    padding-top: 10px;

    .vendor__geocoding__tool-box__title {
      font-size: 1em;
      margin-top: $space-sm;
      font-family: $bold-font-family;
      line-height: 1.4em;
      text-transform: uppercase;
      @include respond-from("screen-md") {
        margin-bottom: $space-md;
        padding-top: 0;
      }
    }

    .form-group {
      margin: $space-xs 0;
      padding: 0;
      @include respond-from("screen-md") {
        margin: 0 0 $space-sm;
      }

      input {
        margin: 0;
      }
    }
  }
}

.desktop-cart__footer {
  position: relative;
  overflow: auto;
  opacity: 1;

  &.disabled {
    opacity: 0.5;
  }

  @include respond-from("screen-md") {
    overflow: auto;
    padding: 0;
    margin: 0;
  }

  .button {
    @include respond-from("screen-md") {
      width: 99%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// ------------------------------------------ checkout page variations -------------------------------------------------//

.checkout-wrapper {

  .desktop-cart {
    @include make-md-column(4);
    @include make-lg-column(3);
    @extend .col-lg-push-1;
    position: static;
    padding: 0;
    @include clearfix;
    @include respond-from("screen-md") {
      position: relative;
      padding-left: $grid-gutter-width;
    }
  }

  .desktop-cart__title {
    padding: $space-sm;
    border: none;
    text-align: left;
    font-family: $base-font-family;
    font-weight: bold;
    margin: 0;
    @include respond-from("screen-md") {
      text-align: center;
      font-family: $bold-font-family;
      font-weight: normal;
      padding: $space-md;
    }

    span {
      display: inline;
    }
  }

  .desktop-cart__hero {
    display: none;
  }

  .desktop-cart__footer__message {
    display: none;
  }

  .cart__item {
    cursor: default;
  }

  tr.summary__item__row_desktop {

    &:hover {
      .summary__item__quantity-icons, .summary__item__remove-icon {
        display: none;
      }
      .summary__item__name {
        color: $color-text-primary;
      }
    }
  }

  .summary__item__icon, .cart__title--time {
    display: none;
  }

  tr.summary__item__row_mobile {

    td.summary__item__quantity {
      padding: 8px 0;
      font-size: 1em;
    }

    td.summary__item__sign {
      display: table-cell;
      padding-top: 8px;
      padding-left: $space-sm;
    }

    td.summary__item__name {
      padding-bottom: $space-xs;
    }

    td.summary__item__price {

      i {
        display: none;
      }
    }
  }

  td.summary__item__empty {
    display: none;
  }

  .desktop-cart-container {
    padding: 0;
  }

  .desktop-cart__order {
    margin: 0;
    padding: 0 $space-sm $space-sm;
  }

  .checkout__summary {
    line-height: normal;
    padding: 0;
  }

  .checkout__summary-overflowing {
    padding-top:  0;
    margin-top: 0;
    @include respond-from("screen-md") {
      margin-top:  0;
    }
  }

  .desktop-cart__footer {
    @include respond-from("screen-md") {
      padding: 0  $grid-gutter-width / 2;
    }
  }
}



