//mobile top cart

.top-cart {
  display: none;
  width: 100%;
  position: fixed;
  top: $header-height;
  left: 0;
  height: $top-cart-height;
  background-color: $color-bg-primary;
  z-index: $zindex-navbar-fixed;
  border-top: 1px solid #e6e1d7;
  box-shadow: 0px 1px 4px rgba(1, 1, 1, 0.2);
  font-size: 0.875em;
  @include opacity(0.90);
  @include respond-from("screen-md") {
    display: none;
  }
}

.top-cart__info {
  @include make-xs-column(12);
  height: $top-cart-height / 2;
  @extend .text-center;

  h3 {
    width: 80%;
    margin: 0 auto;
    @include centerTextVerticallyByHeight($top-cart-height / 2);
    @include text-overflow();
    font-size: 1.125em;
    text-transform: uppercase;
  }
}

.top-cart__extra-fee {
  @include make-xs-column(12);
  height: $top-cart-height / 2;
  background: $color-bg-secondary;
  border-top: 1px solid #e6e1d7;
  @include centerTextVerticallyByHeight($top-cart-height / 2);

  span {
    @extend .desktop-cart__order__total__price;
  }
}

//mobile bottom cart

.bottom-cart {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: $top-cart-height / 2;
  padding-left:  $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  background-color: $color-bg-text-selection;
  z-index: $zindex-navbar-fixed;
  color: $color-text-selection;
  font-size: 0.875em;
  @include respond-from("screen-md") {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.bottom-cart__wrapper {
  @include make-row();
}

.bottom-cart__quantity {
  @include make-xs-column(3);
  @include centerTextVerticallyByHeight($top-cart-height / 2);

  span {
    display: block;
    color: $color-text-highlight;
    background-color: $color-bg-primary;
    text-align: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    @include centerTextVerticallyByHeight(26px);
    @include vertical-center-element();
    padding-top: 1px;
  }
}

.bottom-cart__cta {
  @include make-xs-column(6);
  @include centerTextVerticallyByHeight($top-cart-height / 2);
  text-align: center;
  text-transform: uppercase;
}

.bottom-cart__cta--full {
  @extend .bottom-cart__cta;
@include make-xs-column(12);
}

.bottom-cart__price {
  @include make-xs-column(3);
  @include centerTextVerticallyByHeight($top-cart-height / 2);
  text-align: right;
}

//desktop cart

.desktop-cart {
  @include appear-from("screen-md");
  @include make-md-column(4);
  @include make-lg-column(3);
  font-size: 0.875em;
  padding-left: $grid-gutter-width;

  // overriding needed styles from checkout.scss (order summary mobile section)

  .checkout__summary {
    padding: 0;
    border:  none;
    line-height: $base-line-height;
    font-size: 1em;
    padding-bottom: $space-md;
    border-bottom: $base-border;
    overflow-y: auto;
    overflow-x: hidden;

    .summary__item__quantity {
      padding-left: 0;
    }
    .summary__item__extra {
      line-height: 1.15em;
    }
    .summary__item__price {
      padding-right: 0;
    }
  }

  .checkout__summary-overflowing {
    min-height: 50px;
    box-shadow:  inset 0 8px 8px -8px rgba(1,1,1,0.2), inset 0 -8px 8px -8px rgba(1,1,1,0.2);
  }
}

.desktop-cart__title {
  font-family: $bold-font-family;
  @extend .text-center;
  text-transform: uppercase;
  margin-top: $space-md;
  @include respond-from("screen-md") {
    font-size: 0.875em;
  }

  span {
    display:  block;
  }
}

.desktop-cart__time {
  overflow: auto;
}

%desktop-cart__time__field {
  @include make-xs-column(6, 0);

  select {
    @extend .form-control;
  }
}

.desktop-cart__time__field-date {
  @extend %desktop-cart__time__field;
  padding-right: $space-xs;
}

.desktop-cart__time__field-time {
  @extend %desktop-cart__time__field;
  padding-left: $space-xs;
}

.desktop-cart__order {
  overflow: auto;
}

.desktop-cart_order__message {
  @extend .text-center;
  color: $color-text-secondary;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.desktop-cart__order__subtotal {
}

.desktop-cart__order__voucher {
  color: $color-text-highlight;
}

.desktop-cart__order__delivery {
  color: $color-text-secondary;
  span {
    @extend .desktop-cart__order__total__price;
  }
}

.desktop-cart__order__total {
  padding-top: $grid-gutter-width / 2;
  font-family: $bold-font-family;
  font-size: 1.2em;
}

.desktop-cart__order__total__price {
  display: inline-block;
  float: right;
}

.desktop-cart__order__subtotal__container {
  padding-bottom: $space-md;
}

.desktop-cart__header {
  overflow: auto;
}
.desktop-cart__footer {
  overflow: auto;
}
