.flood-banner {
  display: none;
}
.show-banner.show-flood-banner .flood-banner {
  display: block;
}

.flood-banner {
  position: fixed;
  top: 0;
  left: 0;
  height: $banner-height;
  width: 100%;
  z-index: 1030;
  background-color: $color-bg-flood-banner;
  color: $color-text-flood-banner;
}

.flood-banner__content {
  @include vertical-center-absolute();

  text-align: center;
  overflow: hidden;
  width: 100%;
  padding: 0 35px;

  @include respond-from("screen-md") {
    font-size: $font-size-1_9rem;
  }
}

.flood-banner__close-button {
  font-size: 2.3rem;
  position: absolute;
  right: 10px;

  @include make-link($color-text-selection, $color-text-selection);
}
