/*
* footer declarations
*/


.footer {
  margin-top: $space-lg * 2;
  overflow: auto;
  font-size: $font-size-1_4rem;
  line-height: 1.5;
  padding-bottom: $top-cart-height / 2 + $space-lg;
  @include respond-from("screen-md") {
    @include fluid-container();
  }
}
.error-page .footer {
  overflow: visible;
}


%footer__wrapper {
  @include make-row();
  margin: 0;
}

.footer__wrapper__top {
  @extend %footer__wrapper;
  padding: 30px 0;
  border-top: $dropdown-border;
}

.footer__wrapper__middle {
  @extend %footer__wrapper;
  border-top: $dropdown-border;
  padding-top: $space-lg;
  padding-bottom: $space-lg;
}

.footer-reduced .footer__wrapper__middle {
  border-bottom: $dropdown-border;
}

.footer__wrapper__bottom {
  @extend %footer__wrapper;
  border-top: $dropdown-border;
  padding-top: $space-lg;
  padding-bottom: $space-lg * 2;
}

.footer__subscribe {
  @include make-xs-column(12);
  @include make-md-column(6);
  margin-bottom: $space-lg;
  text-align: center;
  overflow: hidden;
  @include respond-from('screen-md') {
    margin-bottom: 0;
  }
  @extend .col-md-push-3;
}


.footer__subscribe__form {
  opacity: 1;
  @include transition(opacity 0.2s ease-out);
}
.show-subscribe-message .footer__subscribe__form {
  opacity: 0;
}


.footer__subscribe__success-message {
  text-align: center;
  width: 0;
  position: absolute;
  opacity: 0;
  height: 0;
  @include transition(opacity 1.2s ease-out);
  font-size: $font-size-1_4rem;
  text-transform: uppercase;
  @include respond-from("screen-md") {
    padding-top: 5px;
  }
}
.show-subscribe-message .footer__subscribe__success-message {
  opacity: 1;
  height: auto;
  width: 95%;
}


.footer__subscribe__txt {
  @include make-xs-column(12);
  text-align: center;
  padding-bottom: $space-md;

  p {
    margin: 0 auto;
    width: 100%;
    b {
      display: block;
      font-family: $bold-font-family;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}

.footer__subscribe__city {
  @include make-xs-column(4);
  @include make-sm-column(3);
  padding-right: $space-xs;
  @include respond-from("screen-sm") {
    padding-right: $space-sm;
  }
}

.footer__subscribe__email {
  @include make-xs-column(8);
  @include make-sm-column(5);
  @include make-md-column(4);
  @include make-lg-column(5);
  padding-left: 0;
  @include respond-from("screen-sm") {
    padding-right: 0;
  }
}

.footer__subscribe__button {
  @include make-xs-column(12);
  @include make-sm-column(4);
  @include make-md-column(5);
  @include make-lg-column(4);
  padding-top: $space-xs;
  @include respond-from("screen-sm") {
    padding-top: 0;
    padding-left: $space-sm;
  }

  .button {
    width: 100%;
    @include respond-from("screen-sm") {
      margin: 0;
    }
  }
}

.footer__logo {
  @include make-xs-column(6);
  @include make-md-column(3);
  @extend .col-md-pull-6;
  overflow: hidden;
  height: 45px;
  margin-top: 10px;
  @include respond-from("screen-md") {
    margin-top: 0;
  }

  i {
    font-size: 2.7rem;
    color: $color-icons-separator;
    display: block;
    height: 30px;
    margin-left: $space-sm;
    @include respond-from("screen-md") {
      margin-left: - $space-sm;
    }
  }
}

.footer__social {
  @include make-xs-column(6);
  @include make-md-column(3);
  text-align: right;
  height: 42px;

  a {
    display: inline-block;
    margin-top: 10px;
    margin-right: $space-sm;
    @include respond-from("screen-md") {
      margin-top: 1px;
    }

    i {
      font-size: 3.3rem;
      color: $color-icons-separator;

      @include transition(color .1s linear);
      &:hover {
        color: $color-text-highlight;
      }
    }
  }

  a:last-child {
    margin-right: 12px;
    @include respond-from("screen-md") {
      margin-right: 0;
    }
  }
}

.footer__nav {
  @include make-xs-column(12);
  @include make-md-column(7);
  @extend .col-md-push-5;
  text-align: center;
  @include respond-from("screen-md") {
    text-align: right;
    padding-right: 0;
    ul {
      width: 100%;
    }
  }

  ul {
    width: 90%;
    display: inline-block;
  }

  li {
    display: inline-block;
    margin: 0 $space-sm;
    @include respond-from("screen-md") {
      margin-right: 0;
    }

    a {
      @include make-link($color-text-primary, $color-text-highlight)
    }
  }
}

.footer__disclaimer {
  @include make-xs-column(12);
  @include make-md-column(5);
  @extend .col-md-pull-7;
  margin-top: $space-md;
  text-align: center;
  @include respond-from("screen-md") {
    text-align: left;
    margin-top: 0;
    padding-left: 0;
  }
}

.footer__popular {
  @include make-xs-column(12);
  @include make-md-column(4, 0);
  text-align: center;
  @include respond-from("screen-md") {
    text-align: left;
    padding-right: $grid-gutter-width;
  }

  h4 {
    margin: 0;
    font-family: $bold-font-family;
    text-transform: uppercase;
    font-size: $font-size-1_4rem;
    line-height: 1.6;
  }

  p {
    color: $color-text-secondary;
    width: 90%;
    margin: 0 auto $space-md;
    @include respond-from("screen-md") {
      width: 100%;
      margin: 0 0 $space-md;
      line-height: 1.6;
    }
  }

  a {
    @include make-link($color-text-secondary, $color-text-highlight);
  }

}


.footer__language-switch {
  @include make-xs-column(8);
  @extend .col-xs-push-2;
  @include make-sm-column(6);
  @extend .col-sm-push-3;
  line-height: $cta-height;
  margin-bottom: $space-md;
  @include respond-from("screen-md") {
    display: none;
  }
}
