/*
* header declarations
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $header-height-small;
  z-index: 1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.header__wrapper {
  z-index: 1000;
  position: relative;
  text-align: center;
  @extend .wrapper-fluid;
  @include respond-from("screen-sm") {
    text-align: left;
  }
}

.header__wrapper__bg {
  z-index: 999;
  background-color: $header-background;
  width: 100%;
  position: absolute;
  height: $header-height-small;
  top: - $header-height-small;
  left: 0;
  @include transition(all .1s linear);
}

.header__profile {
  position: absolute;
  font-size: 1.8em;
  left: 15px;
  display: block;
  margin-top: 10px;
  @include make-link($link-color-bg-dark, $link-color-bg-dark);
  @include respond-from("screen-sm") {
    display: none;
  }
}

.header__logo {
  margin: 15px auto 0;
  display: inline-block;
  @include respond-from("screen-sm") {
    padding-left: 10px;
  }
}

.header__logo__a {
  @include retina-sprite($logo_white_mobile-group);
  display: block;
  text-indent: -9999px;
  @include transition(opacity .5s linear);
  @include respond-from("screen-md") {
    @include retina-sprite($logo_white-group);
  }
}

.header__cart {
  @include make-link($link-color-bg-dark, $link-color-bg-dark);
  font-size: 1.8em;
  right: 15px;
  display: inline-block;
  float: right;
  margin: 13px 20px 0;
  @include respond-from("screen-md") {
    margin-top: 20px;
  }
}

.header__login {
  @include make-link($link-color-bg-dark, $link-color-bg-dark);
  float: right;
  margin-right: $grid-gutter-width / 2;
  margin-top: 13px;
  @include appear-from("screen-sm");
  @include respond-from("screen-md") {
    margin-top: 20px;
  }

  a, b {
    @include make-link($link-color-bg-dark, $link-color-bg-dark);
    font-size: 0.8em;
  }

  .icon-down-open-big {
    @include make-link($link-color-bg-dark, $link-color-bg-dark);
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    margin-top: 3px;
    margin-left: 5px;
  }
}

.header--white {
  .header__logo__a {
    @include retina-sprite($logo_small-group);
  }

  &.header  {
    background: none;
    height: $header-height-small;
  }

  .header__wrapper__bg {
    top: 0;
    border: 1px solid $base-border-color;
  }

  .header__logo {
    margin-top: 10px;
  }

  .header__login {
    margin-top: 13px;
    a {
      @include make-link();
    }
  }

  .header__cart {
    margin-top: 13px;
  }

  .header__profile,
  .icon-down-open-big,
  .header__cart {
      @include make-link();
  }
}
