/*
* header declarations
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $color-bg-primary;
  height: $header-height;
  z-index: $zindex-navbar-fixed;
  box-shadow: 0px 1px 4px rgba(1, 1, 1, 0.2);
  @include opacity(0.90);
}

.header__wrapper {
  position: relative;
}

.header__logo {
  @include retina-sprite($logo-group);
  position: absolute;
  left: 30px;
  top: 20px;
}

.header__logo__h1 {
  text-indent: -9999px;
  margin: 0;
}

.header__login {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    a {
      font-size: 0.9em;
    }
}

.header__cart {
  position: absolute;
  right: 30px;
  top: 37px;
  @include retina-sprite($cart-group);
}
