/*
* header declarations
*/

.header {
  position: fixed;
  top: 0;
  .left(0);
  .right(0);
  width: 100%;
  background-color: @color-bg-primary;
  height: @header-height;
  z-index: @zindex-navbar-fixed;
}

.header__wrapper {
  position: relative;
}

.header__logo {
  .retina-sprite(@logo-group);
  position: absolute;
  .left(30px);
  top: 20px;
}

.header__logo__h1 {
  text-indent: -9999px;
  margin: 0;
}

.header__login {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    a {
      font-size: 0.9em;
    }
}

.header__cart {
  position: absolute;
  .right(30px);
  top: 37px;
  .retina-sprite(@cart-group);
}
