/*
* header declarations
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @color-bg-navigation;
  height: 88px;
  z-index: @zindex-navbar-fixed;
  text-align: center;
}

.header__wrapper {
  .make-row();
  position:  relative;
}

.header__logo {
  .retina-sprite(@logo-group);
  margin: 29px auto;
    b { display: none;}
}

.header__login {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    a {
      font-size: 0.9em;
    }
}
