.hero-banner-wrapper {
  width: 100%;
  position: relative;
  max-height: 400px;
  @include respond-to-custom(1400px) {
    overflow: hidden;
  }

  h1 {
    color: $color-text-selection;
    text-transform: uppercase;
    width: 96%;
    text-align: center;
    height: 32px;
    line-height: 35px;
    font-size: 1em;
    @include absolute-center-box();

    @include respond-from("screen-sm") {
      font-size: 1.4em;
    }
    @include respond-from("screen-md") {
      font-size: 1.6em;
    }
    @include respond-from("screen-lg") {
      font-size: 2em;
    }
  }

  img {
    @include responsive-img();
  }
}
