.ios-smart-banner {
  display: none;
}
.show-ios-smart-banner .ios-smart-banner {
  display: block;
}


.ios-smart-banner {
  position: fixed;
  top: 0;
  left: 0;
  height: $ios-smart-banner-height;
  width: 100%;
  z-index: 1030;
  background-color: $header-background;
  border-bottom: $base-border;
}

.ios-smart-banner__close-button {
  float: left;
  line-height: $ios-smart-banner-height;
  padding: 0 $space-sm;
  @include make-link();
}

.ios-smart-banner__logo-icon-wrapper {
  float: left;
  padding-right: $space-sm;
}

.ios-smart-banner__logo-icon {
  color: $color-bg-primary;
  background: $color-bg-text-selection;
  padding: $space-xs;
  border-radius: $border-radius-medium;
  line-height: $ios-smart-banner-height;
  font-size: $font-size-2_4rem;
}

.ios-smart-banner__information-wrapper {
  padding: 9px $space-xs;
  font-size: $font-size-1_4rem;
  float: left;
  height: $ios-smart-banner-height;
  line-height: 1.3;
}

.ios-smart-banner__view-app-link {
  @extend .button-secondary;
  height: 25px;
  line-height: 25px;
  float: right;
  right: 20px;
  margin-top: 20px;
  padding: 0 $space-xs !important;
}

.ios-smart-banner__free-message {
  color: $color-text-light;
  font-size: $font-size-1_2rem;
}

.ios-smart-banner__title {
  font-family: $bold-font-family;
}

.ios-smart-banner__ratings__star {
  color: $star-active-color;
}

.ios-smart-banner__ratings__star--inactive {
  color: $star-inactive-color;
}
