.modal-close-button {
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 2px;
  @include retina-sprite($modal-close-group);
  @include respond-from("screen-sm") {
    right: 15px;
    top: -15px;
  }
}

.modal-content {
  padding: 13px 0 $space-lg;
  border-radius: 0;
}

.modal-error-message {
  color: $error-msg-color-text;
  padding: $space-xs $space-sm;
  background-color: $error-msg-color-bg;
  font-size: $font-size-1_4rem;
  @include respond-from("screen-md") {
    font-size: $font-size-1_4rem;
  }
}

.modal-content--loading > * {
  opacity: 0.5;
}

.modal-dialog {
  width: 100%;
  margin: 0;
  @include respond-from("screen-sm") {
    margin: 70px auto 0;
    width: 400px;
  }
}

.modal__padding-left-right {
  padding: 0 $space-lg;
}

.modal__h4 {
  text-transform: uppercase;
  border-bottom: $input-border-default;
  margin: 0 0 25px;
  padding-bottom: $space-sm;
  font-family: $bold-font-family;
}

.spinner {
  opacity: 1 !important;
}

//--------------------------- modal with headline body content and footer - start -------------------------------

.headline-content-footer-modal .modal-content {
  padding-bottom: $space-sm;
}

.headline-content-footer-modal .modal-body {
  padding-top: 0;
}

.headline-content-footer-modal .modal__h4 {
  margin-bottom: $space-lg;
}

.headline-content-footer-modal .modal-footer {
  padding-bottom: 0;
}

.headline-content-footer-modal .modal-footer button {
  margin-bottom: $space-sm;
}

//--------------------------- modal with headline body content and footer - end -------------------------------
