.modal-close-button {
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 2px;
  @include retina-sprite($modal-close-group);
  @include respond-from("screen-sm") {
    right: 15px;
    top: -15px;
  }
}

.modal-content {
  padding: 13px 0 $space-lg;
  border-radius: 0;
}

.modal-message {
  padding: $space-xs $space-sm;
  font-size: $font-size-1_4rem;
  @include respond-from("screen-md") {
    font-size: $font-size-1_4rem;
  }
}

.modal-success-message {
  @extend .modal-message;
  color: $success-msg-color-text;
  background-color: $success-msg-color-bg;
  margin-bottom: $space-md;
}

.modal-error-message {
  @extend .modal-message;
  color: $error-msg-color-text;
  background-color: $error-msg-color-bg;
}


.modal-content--loading > * {
  opacity: 0.5;
}

.modal-dialog {
  width: 100%;
  margin: 0;
  @include respond-from("screen-sm") {
    margin: 70px auto 0;
    width: 400px;
  }
}

.modal__padding-left-right {
  padding: 0 $space-lg;
}

.modal__h4 {
  text-transform: uppercase;
  border-bottom: $input-border-default;
  margin: 0 0 25px;
  padding-bottom: $space-sm;
  font-family: $bold-font-family;
}

.spinner {
  opacity: 1 !important;
}

.modal-footer {
  position: relative;
}

//--------------------------- modal with headline body content and footer - start -------------------------------

.headline-content-footer-modal .modal-content {
  padding-bottom: $space-sm;
}

.headline-content-footer-modal .modal-body {
  padding-top: 0;
}

.headline-content-footer-modal .modal__h4 {
  margin-bottom: $space-lg;
}

.headline-content-footer-modal .modal-footer {
  padding-bottom: 0;
}

.headline-content-footer-modal .modal-footer button {
  margin-bottom: $space-sm;
}

//--------------------------- modal with headline body content and footer - end -------------------------------

//--------------------------- error modal - start -------------------------------
.error-modal {
  font-size: $font-size-1_6rem;
}

.error-modal__invalid-product-list-headline {
  font-size: $font-size-1_6rem;
  margin: 0;
}

.error-modal__body p:first-of-type {
  margin-top: 0;
}

.error-modal__body p:last-of-type {
  margin-bottom: 0;
}

.error-modal__body ul {
  padding-left: 15px;
}

.error-modal__body li {
  font-size: $font-size-1_4rem;
  list-style-type: disc;
}
//--------------------------- error modal - end -------------------------------

//--------------------------- payment error modal - start -------------------------------
.modal-payment-error--cannot-checkout .modal-payment-error__continue-checkout-button {
  display: none;
}

.modal-payment-error__loading-footer button {
  visibility: hidden;
}
//--------------------------- payment error modal - end -------------------------------
