//
// Tooltips
// --------------------------------------------------

.tooltip {
  position: absolute;
  z-index: 800;
  display: block;
  // Reset font and text properties given new insertion method
  font-family: $font-family-base;
  font-size: $font-size-small;
  font-weight: normal;
  line-height: 1.4;
  @include opacity(0);

  &.in     { @include opacity($tooltip-opacity); }
  &.top    { margin-top: -3px; padding: $tooltip-arrow-width 0; }
  &.bottom { margin-top: 3px; padding: $tooltip-arrow-width 0; }

  a {
    color: #fff;
    text-decoration: underline;
  }

  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }

  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
}

.tooltip--align-left {
  left: 0 !important;

  .tooltip-arrow {
    left: 10px !important;
  }
}

.tooltip--align-right {
  left: auto !important;
  right: 0 !important;

  .tooltip-arrow {
    left: auto !important;
    right: 10px !important;
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: 3px 8px;
  color: $tooltip-color;
  text-align: center;
  text-decoration: none;
  background-color: $tooltip-bg;
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
